 /*{outline:  1px solid #f00;}*/

#warp {color: #333;}
.header {line-height: 100px; position: sticky;  top: 0 ;left: 0; width:100%; background:#fff ;color: #333; transition: 0.5s; z-index: 999;}
.header:hover {background: #fff; color: #333; border-bottom: 1px solid #ddd;}
.header.on {background: #fff; color: #333; border-bottom: 1px solid #ddd;;}
.header .container {display: flex; justify-content: space-between; width:1200px; margin: 0 auto; vertical-align:middle}
.header .container h1 {padding: 0 15px;}
.header .container h1 img {width: 200px;}
.header .gnb {margin: 0 auto;}
.header .gnb>.depth01 {display: flex; position: relative;}
.header .gnb>.depth01>li>a {display: block; padding: 0 30px; font-size: 14px; font-weight: 400;}
.header .gnb .depth02 {display: flex; width: 100vw; height: 0; position: absolute; top: 100px; left: 0; text-align: center; overflow: hidden; z-index: 999;}
.header .gnb ul>li:hover .depth02 { width: 100vw; height: 50px; transition: 0.5s;}
.header .gnb:before {content: ""; display: block; width: 100%; height: 0; background: #f2f2f2; position: absolute; top: 100px; left: 0; transition: 0.5s; z-index: 998;}
.header .gnb:hover:before {height: 50px; border-top: 1px solid #ccc;}
.header .gnb>.depth01>li>.depth02>li a {display: block; font-size: 15px; line-height: 50px; text-align: center; padding: 0 20px;}


.header.nav-up {top: -127px; transition: top 0.5s ease-in-out; -moz-transition: top 0.5s ease-in-out; -webkit-transition: top 0.5s ease-in-out; }
.header.nav-down.nav-hover-out {top: 0; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;}





.header .header_right {display: flex; justify-content: center; padding: 0 15px;}
.header .header_right form {display: flex;}
.header .header_right input {display: block;border: none; outline: none; width: 150px; height: 30px; margin: auto; background: #ddd; text-align:center; font-size: 16px; color: #888; border-radius: 15px;}
.header .header_right button {background: none; border: none; outline: none;}
.header .header_right button i {font-size: 20px; color: #333; cursor: pointer; vertical-align:baseline; margin-left: 15px;}

.header .container .sub_menu>ul {display: flex;}
.header .container .sub_menu>ul>li {position: relative;}
.header .container .sub_menu>ul>li>a {display: block; font-size: 20px; margin-left: 30px;}


#visual {background:#333;}
#visual figure {position:relative; height: 600px;}
#visual figure img {max-width: 100%;}
#visual .slider01 {background: url(../img/main_visual01.jpg) no-repeat center center/cover;}
#visual .slider02 {background: url(../img/main_visual02.jpg) no-repeat center center/cover;}
#visual .slider03 {background: url(../img/main_visual03.jpg) no-repeat center center/cover;}
#visual .slider01 .text {position: absolute; top: 50%; left: 50%; text-align: left; width: 1200px; transform: translate(-50%, -50%); padding: 0 15px;}
#visual .slider02 .text {position: absolute; top: 50%; left: 50%; text-align: right; width: 1200px; transform: translate(-50%, -50%); padding: 0 15px;}
#visual .slider03 .text {position: absolute; top: 50%; left: 50%; text-align: left; width: 1200px; transform: translate(-50%, -50%); padding: 0 15px;}
#visual .main_slider h2 {font-size: 36px; font-weight: 700;}
#visual .main_slider .slider01 h2:after {content: ""; display: block; width: 50px; height: 1px; background: #333; margin: 30px 0;}
#visual .main_slider .slider02 h2:after {content: ""; display: block; width: 50px; height: 1px; background: #002c5f; margin: 30px 0 30px auto;}
#visual .main_slider .slider03 h2:after {content: ""; display: block; width: 50px; height: 1px; background: #888; margin: 30px 0;}
#visual .main_slider p {font-size: 18px; font-weight: 300; letter-spacing: -0.025em; line-height: 30px;}

#visual .slider01 {color: #333;}
#visual .slider02 {color: #002c5f;}
#visual .slider03 {color: #fff;}

#section01 {padding: 150px 0 75px 0;}
#section01 .benefit {text-align: left; width: 1200px; margin: 0 auto; padding: 0 15px;}
#section01 .benefit h2 {font-size: 36px; font-weight: 500; padding: 0 0 30px 0;}
#section01 .benefit p {font-size: 18px; font-weight: 300; line-height: 25px; padding: 15px 0; letter-spacing: -0.025em}
#section01 .container {display:flex; width: 1200px; margin: 0 auto;}
#section01 .container figure {flex: 1; padding: 0 15px;}
#section01 .container figure img {width: 100%;}

#section01 .container .text {display: flex; justify-content: space-between; margin: 15px 0; padding: 0 10px}
#section01 .container strong {display: block;font-size: 16px; font-weight: 400;}
#section01 .container span {position: relative;}
#section01 .container span>a {font-size: 16px; font-weight: 300;}
#section01 .container span>a:before {content: ""; position: absolute; top: 10px; left: -55px; display: block; width: 50px; height: 1px; background: #888;}

#section02 {padding: 75px 0;}
#section02 .container {position: relative; width: 1200px; margin: 0 auto; padding: 0 15px;}
#section02 .container img {width: 100%;}
#section02 .container .text {position: absolute; top: 50%; left: 50%; text-align: left; width: 1200px; transform: translate(-50%, -50%); padding: 0 100px; color: #fff}

#section02 .container .text h2 {font-size: 36px; font-weight: 500; margin-bottom: 30px;}
#section02 .container .text span {position: absolute; top: 10px; left: 445px;}
#section02 .container .text span>a {font-size: 16px; font-weight: 300;}
#section02 .container .text span>a:before {content: ""; position: absolute; top: 10px; left: -55px; display: block; width: 50px; height: 1px; background: #ddd;}
#section02 .container .text p {font-size: 18px; font-weight: 300; letter-spacing: -0.025em; line-height: 30px;}

#section03 {background: #f6f3f2; height: 385px; padding: 75px 0 15px 0;}
#section03 .container {position: relative; width: 1200px; margin: 0 auto; padding: 0 15px;}
#section03 .text h2 {font-size: 36px; font-weight: 500; text-align: center; margin-bottom: 30px;}
#section03 nav>ul {display: flex; justify-content: space-between;}
#section03 nav>ul>li {position: relative;}
#section03 nav>ul>li~li::before {content:""; display: block; position: absolute; top: 0; left: -50px; width: 1px; height: 100%; background: #ccc;}
#section03 nav>ul>li>a {flex: 1; font-size: 20px; font-weight: 400; text-align: center; padding: 0 15px; cursor: pointer; color: #ccc}
#section03 nav>ul>li.on a {color: #002c5f}
#section03 .vehicle_slider {position: relative;}
#section03 .vehicle {position: absolute; top: 0; left: 0; width:100%; visibility: hidden; padding: 30px 0;}
#section03 .vehicle.on {visibility:visible;}
#section03 .vehicle .element figure img {max-width: 200px; margin: 0 auto;opacity: 0.3; padding: 30px 0;}
#section03 .vehicle .element.on figure img {transform: scale(1.5); opacity: 1;}
#section03 .vehicle .element p {text-align: center; opacity: 0;}
#section03 .vehicle .element.on p {opacity: 1}

#section03 i {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:3rem;font-weight:100;padding:1rem; color: #ccc; cursor:pointer; transition: 0.5s;z-index:333;}
#section03 i:hover {color: #002c5f; opacity: 1; transition: 0.5s;}
#section03 i.xi-angle-left-min {margin-left:-40rem;}
#section03 i.xi-angle-right-min {margin-left:40rem;}

#section04 {background: #f6f3f2; height: 577.5px; padding:0 0 75px 0;}
#section04 .container {position: relative; width: 1200px; margin: 0 auto;}
#section04 .des_slider {position: absolute; top: 0%; left: 0; visibility: hidden; width: 1200px; padding: 0 15px;}
#section04 .des_slider figure img {width: 100%; margin: 0 auto;}
#section04 .des_slider.on {visibility:visible;}
#section04 .description {position: relative;}
#section04 .description .text {position: absolute; top: 50%; left: 50px; text-align: left; padding: 30px 30px; transform: translateY(-50%);color: #fff; background: rgba(0, 0, 0, 0.5); width: 400px;}
#section04 .description .text h3 {font-size: 26px; font-weight: 400; letter-spacing: 0.1em}
#section04 .description .text strong {font-size: 18px; font-weight: 300; letter-spacing: 0.025em; line-height: 50px;}
#section04 .description .text span {font-size: 14px; font-weight: 300; letter-spacing: -0.025em; line-height: 30px;}
#section04 .description .text em {font-size: 14px; font-weight: 400; padding: 0 15px; letter-spacing: 0.01em;}

#section05 {padding: 75px 0;}
#section05 .container {width: 1200px; margin: 0 auto; padding: 0 15px;}
#section05 .row01 figure {background: #000;}
#section05 .row01 img {width: 100%; opacity: 0.3;}
#section05 .row01 .vision  {position: relative; padding: 15px 0;}
#section05 .row01 .description {position: absolute; top: 50%; left: 50%; width: 1200px; transform: translate(-50%, -50%); color: #fff; text-align: center;}
#section05 .row01 .vision .description h3 {font-size: 26px; font-weight: 400; letter-spacing: 0.2em}
#section05 .row01 .vision .description p {font-size: 18px; font-weight: 300; line-height: 50px;}


#section05 .row02 {display: flex; justify-content: space-between; padding: 15px 0;}
#section05 .row02 .pic figure {position: relative;}
#section05 .row02 .pic img {max-width: 100%;}
#section05 .row02 .pic {width: 30%;}
#section05 .row02 .description {display: flex; width: 70%; text-align: center;}
#section05 .row02 .description .con {margin: auto; padding: 0 30px;}
#section05 .row02 .description h3 {font-size: 36px; font-weight: 500;letter-spacing: 0.06em; color: #002c5f;}
#section05 .row02 .description p {font-size: 18px; font-weight: 300; letter-spacing: -0.025em; line-height: 50px;}
#section05 .row02 .pic a {display:flex; justify-content: space-between; position: absolute; font-size: 14px; font-weight: 400; letter-spacing: 0.2em; bottom: 0%; width: 100%; padding: 15px 15px; background: rgba(0, 0, 0, 0.5); color: #fff; text-align: center;}

#section05 .row03 {display: flex; justify-content: space-between; padding: 15px 0;}
#section05 .row03 figure {position: relative;}
#section05 .row03 img {max-width: 100%;}
#section05 .row03 a {display:flex; justify-content: space-between; position: absolute; font-size: 14px; font-weight: 400; letter-spacing: 0.2em; bottom: 0%; width: 100%; padding: 15px 15px; background: rgba(0, 0, 0, 0.5); color: #fff; text-align: center;}

#footer {padding: 50px 0; background: #333; color: #999}
#footer .footer_top {display:flex; justify-content: space-between; width: 1200px; margin: 0 auto; padding: 0 15px;}
#footer .left_sitemap>ul {display: flex;}
#footer .left_sitemap>ul>li {display:block; position: relative; padding: 0 0 15px 0; text-align: left}
#footer .left_sitemap>ul>li>a {display:block; padding: 0 50px 0 0; font-size: 14px; font-weight: 400;}
#footer .left_sitemap>ul>li~li:before {content:""; display: block; position: absolute; top: 2px; left: -25px; width: 1px; height: 10px; background: #888;}
#footer .left_sitemap>ul>li:first-child a {display:block; padding: 0 50px 0 0;}
#footer .left_sitemap>ul>li>ul {display:block; line-height: 30px; font-size: 10px;}
#footer .left_sitemap>ul>li>ul>li {text-align: left;}
#footer .left_sitemap>ul>li>ul>li>a {display:block; padding: 0 50px 0 0; font-size: 12px;}
#footer .left_sitemap>ul>li>ul>li:first-child a {display:block; padding: 15px 50px 0 0;}
#footer .right_sub .sub_logo figure img {width: 200px; filter: invert(59%) sepia(0%) saturate(43%) hue-rotate(179deg) brightness(91%) contrast(86%);}
#footer .right_sub .sns {display: flex; justify-content: space-between;}
#footer .right_sub .sns a {font-size: 30px; margin-top: 30px;}



#footer .bar {width: 1200px; margin: 0 auto; padding: 15px;}
#footer .bar:before {content: ""; display: block; height: 1px; background:#666;}

#footer .footer_bottom {display:flex; justify-content: space-between; width: 1200px; margin: 0 auto; align-items: center; padding: 0 15px;}
#footer .footer_bottom address {font-size: 15px;}
#footer .footer_bottom p {font-size: 12px;}

#footer select {background: #333; color: #999; font-size: 12px; padding: 5px 0; text-align: center; outline: none; }
#footer select option {font-size: 12px;}


#toTop {display: none; position: fixed; bottom: 50px; right: 50px;}
#toTop i {padding: 15px; font-size: 20px; color: #333; background: #fff; border-radius: 50%; box-shadow: 5px 5px 16px -7px gray;cursor: pointer; z-index: 100;}



