@font-face {
    font-family: 'Bebas Kai';
    src: url(/fonts/BebasKai-Regular.otf);
    src: url(/fonts/BebasKai-Regular.woff);
}
/* * {
    outline: 1px solid #f00;
} */
*, body {
    position: relative;
	font-family: 'Noto Sans KR', sans-serif;
    color: #2f2f2f;
    font-size: 18px;
    letter-spacing: -1px;
    word-break: keep-all;
}
a{
    text-decoration:none;
	font-family: 'Noto Sans KR', sans-serif;
    
}
img {
    display: block;
}


/* 라이브러리 */
.con {
    /* max-width:1480px; */
    margin:0 auto;
}
.row::after {
    content:"";
    display:block;
    clear:both;
}
.cell {
    float:left;
    box-sizing:border-box;
}
.cell-right {
    float:right;
}
.line-height-0 {
    line-height:0;
}
.line-height-0 > * {
    line-height:normal;
}
.visible-on {
    display:block;
}
.visible-off {
    display:none;
}
.img-box {
    overflow:hidden;
}
.img-box > img {
    width:100%;
    display:block;
}
.relative {
    position:relative;
}
/* 라이브러리 끝 */

/* 헤더 */
.header {
    height:134px;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    overflow: hidden;
    background-color: #fff;
    z-index:500;
    transition:height .3s;
}
.header.nav-up {top: -127px; transition: top 0.5s ease-in-out; -moz-transition: top 0.5s ease-in-out; -webkit-transition: top 0.5s ease-in-out; }
.header.nav-down.nav-hover-out {top: 0; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;}

.header .container {
    width: 100%;
}
/* 상단 로고 */
.header .container .h_logo {
    display: block;
    width:250px;
    margin: 0 auto;
    padding: 20px 0;
}
.header .container .h_logo img {
    width: 100%;
}
.active {
    height: 62px;
}
.active .container .h_logo {
    display: none;
}

/* 상단 메뉴 */
.header .container .menu {
    width: 100%;
    border-top: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
}
.header .container .menu .row {
    width: 1338px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.header .container .menu .row .gnb {
    width: 100%;
}
.header .container .menu .row .gnb>a {
    font-size: 16px;
}


/* 모바일 헤더 */
.m-header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:65px;
    z-index:500;
    background-color: #fff;
}
.m-header > .m-top-bar {
    width:100%;
    height:65px;
    position:relative;
    padding:0 20px;
    box-sizing:border-box;
}
.m-header.nav-up {top: -127px; transition: top 0.5s ease-in-out; -moz-transition: top 0.5s ease-in-out; -webkit-transition: top 0.5s ease-in-out; }
.m-header.nav-down.nav-hover-out {top: 0; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;}

.m-header .m-menu-ico {
    background-image: url(../img/mo_menu_b.png);
}
.m-header.m-header-scroll .m-menu-ico {
    background-image: url(../img/mo_menu_b.png);
}


/* 모바일 로고 */
.m-header > .m-top-bar > .m-top-logo {
    position:absolute;
    top:50%;
    transform:translatey(-50%);
}
.m-header > .m-top-bar > .m-top-logo > a > img {
    height:25px;
}

/* 모바일 메뉴 아이콘 */
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico {
    position:absolute;
    top:25px;
    right:0;
    width:20px;
    height:15px;
    cursor:pointer;
}
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:2px;
}
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico > div:nth-child(2) {
    top:50%;
    transform:translatey(-50%);
}
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico > div:nth-child(3) {
    top:auto;
    bottom:0;
}

/* 모바일 메뉴 */
.m-menu-wrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:0;
    background-color:rgba(76,75,73,.6);
    z-index:400;
    overflow-y: auto;
    transition:height .5s;
}
.m-menu-wrap.active {
    height:100%;
}
.m-menu-wrap > .m-menu-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    transition:top .8s;
}
.m-menu-wrap.active > .m-menu-container {
    top:65px;
}
.m-menu-wrap > .m-menu-container > ul > li {
    border-bottom:1px solid #dfdfdf;
}
.m-menu-wrap > .m-menu-container ul > li > a {
    display:block;
    font-size:14px;
    padding:20px 10px;
    background-color:#fff;
    text-align:center;
}
.m-menu-wrap > .m-menu-container ul > li > ul.sub-2-menu {
    display: none;
}

/* 기타 반응형 */
@media (max-width:1100px){
    .pc-only {
        display:none !important;
    }
}
@media (min-width:1101px){
    .mobile-only {
        display:none !important;
    }
}

/* footer */
footer {
    width: 100%;
    background-color: #000000;
}
footer #info {
    width: 1338px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 100px;
}
footer #info .left {
    margin-right: 50px;
}
footer #info .map {
    width: 600px;
    height: 300px;
    overflow: hidden;
}
footer #info .right {
    margin-left: 50px;
}
footer #info .right .clear{
    clear: both;
}
footer #info .right .float {
    float:left;
    margin-right: 80px;
}
footer #info .right>div:nth-last-child(1) {
    margin-right: 0;
}
footer #info .right .float>div {
    margin-bottom: 60px;
}
footer #info .right .float>div:nth-last-child(1),footer #info .right .float>div:nth-last-child(3) {
    margin-bottom: 0;
}
footer #info .right .float p {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}
footer #info .right .float span {
    display: block;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}
footer #info .right .time .day {
    display: inline-block;
}
footer #info .right .time .hour {
    display: inline-block;
}
footer #info .right .time .day>p {
    color: #fff;
    font-size: 25px;
}
footer #info .right .time .day>span {
    display: block;
    color: #fff;
    font-size: 16px;
}
footer #info .right .time .hour>span {
    display: block;
    color: #fff;
    font-size: 16px;
}
footer #info .right .counseling>span,p {
    display: inline-block;
}
footer #info .right .counseling>span {
    margin-right: 25px;
}

footer .footer {
    width: 1338px;
    margin: 0 auto;
    padding: 50px 0;
}
footer .footer .logo {
    float: left;
    width: 250px;
    margin-right:30px;
}
footer .footer .logo img {
    width: 100%;
}
footer .footer .top {
    display: flex;
    justify-content: space-between;
}
footer .footer .top>p {
    font-size: 15px;
    color: #fff
}
footer .footer .top>a {
    font-size: 15px;
    color: #fff
}
footer .top .mo{
    display: none;
}
footer .top span.line {
    display: inline-block;
    margin: 0 5px;
    width: 1px;
    height: 16px;
    background-color: #fff;
}
footer .footer .bottom .f_address {
    font-size: 15px;
    color: #fff
}
footer .footer .copyright {
    margin-top: 10px;
    font-size: 12px;
    color: #a1a1a1;
}
@media all and (max-width: 700px) {
    footer {
        width: 100%;
        background-color: #000000;
    }
    footer #info {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 30px;
    }
    footer #info .left {
        margin-right: 0;
    }
    footer #info .map {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    footer #info .right {
        margin-left: 0;
    }
    footer #info .right .clear{
        clear: both;
    }
    footer #info .right .float {
        float:left;
        margin-right: 0;
    }
    footer #info .right>div:nth-last-child(1) {
        margin-right: 0;
    }
    footer #info .right .float>div {
        margin: 30px 0;
    }
    footer #info .right .float>div:nth-last-child(1),footer #info .right .float>div:nth-last-child(3) {
        margin-bottom: 0;
    }
    footer #info .right .float p {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }
    footer #info .right .float span {
        display: block;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
    }
    footer #info .right .time .day {
        display: inline-block;
    }
    footer #info .right .time .hour {
        display: inline-block;
        margin-left: 15px;
    }
    footer #info .right .time .day>p {
        color: #fff;
        font-size: 20px;
    }
    footer #info .right .time .day>span {
        display: block;
        color: #fff;
        font-size: 16px;
    }
    footer #info .right .time .hour>span {
        display: block;
        color: #fff;
        font-size: 16px;
    }
    footer #info .right .counseling>span,p {
        display: inline-block;
    }
    footer #info .right .counseling>span {
        margin-right: 25px;
    }
    
    footer .footer {
        width: 90%;
        margin: 0 auto;
        padding: 50px 0;
    }
    footer .footer .logo {
        float: none;
        width: 50%;
        margin:0 auto;
    }
    footer .footer .logo img {
        width: 100%;
    }
    footer .footer .top {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }
    footer .footer .top>p {
        font-size: 15px;
        color: #fff;
        margin: 15px 0;
    }
    footer .footer .top>a {
        font-size: 15px;
        color: #fff;
        margin: 15px 0;
    }
    footer .top .mo{
        display: none;
    }
    footer .top span.line {
        display: none;
        margin: 0 5px;
        width: 1px;
        height: 16px;
        background-color: #fff;
    }
    footer .footer .bottom .f_address {
        font-size: 13px;
        color: #fff;
        margin: 30px 0 15px 0;
        display: block;
        text-align: center;
    }
    footer .footer .copyright {
        margin-top: 10px;
        font-size: 10px;
        color: #a1a1a1;
        display: block;
        text-align: center;
    }
}
