@charset "utf-8";
/********************* 서브공통 ***********************************/
body, html {
	height:100%;
	min-height:100%;
	font-size:12px;
}
img {
	border:0px;
	vertical-align:top;
}
 a:link {
	color:#444;
	text-decoration:none;
}
a:visited {
	color:#444;
	text-decoration:none;
}
a:active {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
}
/*div, ul, ol, li, dl, dt, dd, p, input, textarea, select, h1, h2, h3, h4, em, address, fieldset, form, iframe, object {
	padding:0px;
	margin:0px;
}*/

/*공백제거*/
header,footer,nav,section,article,aside,body,p,ul,ol,li,dt,dl,dd,h1,h2,h3,h4,h5,h6,input,fieldset,form,em,iframe, object, input, textarea, div { margin:0; padding:0;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

table {
	padding:0px;
	border:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
ul, ol, li, dl, dt, dd {
	list-style:none;
	padding:0px;
	border:0px;
}
input { vertical-align:top; margin:0; padding:0;}
fieldset { border:none;}
legend { display:none;}

.blind{ color:#fff; display:none; visibility:hidden; overflow:hidden; height:1px; color:#fff;}

/* clearfix */
/* .cf { clear:both; content:"", display:block; }  */
.cf {}
.cf:after { clear:both; content:""; display:block;}

.curpo { cursor:pointer;}
