
@font-face {
    font-family: 'Bebas Kai';
    src: url(/fonts/BebasKai-Regular.otf);
    src: url(/fonts/BebasKai-Regular.woff);
}

*, body {
    position: relative;
	font-family: 'Noto Sans KR', sans-serif;
    color: #2f2f2f;
    font-size: 18px;
    letter-spacing: -1px;
    word-break: keep-all;
}

/* @media all and (max-width: 700px) {
    *, body {
        overflow-x: hidden;
    }
} */

a{
    text-decoration:none;
	font-family: 'Noto Sans KR', sans-serif;
    
}
img {
    display: block;
    margin: 0 auto;
}


/* 라이브러리 */
.con {
    /* max-width:1480px; */
    margin:0 auto;
}
.row::after {
    content:"";
    display:block;
    clear:both;
}
.cell {
    float:left;
    box-sizing:border-box;
}
.cell-right {
    float:right;
}
.line-height-0 {
    line-height:0;
}
.line-height-0 > * {
    line-height:normal;
}
.visible-on {
    display:block;
}
.visible-off {
    display:none;
}
.img-box {
    overflow:hidden;
}
.img-box > img {
    width:100%;
    display:block;
}
.relative {
    position:relative;
}
/* 라이브러리 끝 */

/* 헤더 */

#header{
	position:fixed;
	width:100%;
	background-color: rgba(255,255,255,.8);
	height:91px;
	overflow:hidden;
    z-index:500;
}
.header-scroll {
    top:0;
    left:0;
    right:0;
    height:90px;
    background-color: rgba(0,0,0,.7);
}
.header.header-scroll .menu-container > ul > li > a {
    padding:30px 0 !important;
    color: #fff;
    
}
#header .header-inner {
	position:relative;
	width:1903px;
	height:90px;
	margin:0 auto;
}

#header .header-inner .h_logo {
	position:relative;
	display:block;
    zoom:1;
	padding-top:28px;
	float:left;
    width: 250px;
    z-index: 1;
}
#header .header-inner .h_logo img {
	width: 100%;
}

#gnb {
	position:relative;
	height:90px;
	margin: 0 auto;
}
#gnb .inner {
    list-style: none;
    display: flex;
    justify-content: space-between;
	position:relative;
	width:1150px;
	margin:0 auto;
	text-align:center;
}
#gnb .inner>li {
    width:100%;
    text-align:center;
}
#gnb .inner>li:last-child {
    background:none;
}
#gnb .inner>li:first-child {
    margin-left: 0;
} 
#gnb .inner>li>a {
    font-size: 16px;
    display: block;
    font-weight: 500;
    height:90px;
    line-height:90px;
    text-align:center;
    color:#34373c;
}
#gnb .inner>li>a:hover {
    box-sizing:border-box;
    color:#183f26;
}
.subnavi {
    min-width:150px;
    position: absolute;
    padding-top: 20px;
    border-right:1px solid #eee;
    width: 100%;
    height: 550px;
    box-sizing:border-box;
}
.subnavi li {
    cursor:pointer;
}
.subnavi li a {
    font-size: 14px;
    line-height:2.4em;
    color:#34373c;
    display:block;
}
.country {
    position: absolute;
    top: 28px;
    right: 0;
    display: flex;
}
.country a {
    padding: 0 10px;
}



/* 메뉴 반응형 */
@media (max-width: 1450px) {
    .header .top-bar > .menu-container {
        width: 65%;
        margin-left: 270px;
    }
}

@media (max-width:1380px) {
    .header .top-bar > .menu-container > ul ul.sub-2-menu > li > a {
        padding: 6.5px 5px;
    }
    .header .top-bar > .menu-container > ul ul.sub-2-menu > li:first-child > a {
        padding: 20px 5px 5px;
    }
}

@media (max-width:950px){
    .header .top-bar > .menu-container > ul > li > a {
        font-size:16px;
    }
    .header .top-bar > .menu-container > ul ul.sub-2-menu > li > a {
        font-size:14px;
        padding:6.5px 15px;
    }
    .header .top-bar > .menu-container > ul ul.sub-2-menu > li:first-child > a {
        padding:24.5px 15px 6.5px;
    }
    .header .top-bar > .menu-container > ul ul ul {
        padding-left:15px;
    }
}

/* 모바일 헤더 */
.m-header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:65px;
    z-index:500;
}
.m-header > .m-top-bar {
    width:100%;
    height:65px;
    position:relative;
    padding:0 20px;
    box-sizing:border-box;
}
.m-header.m-header-scroll {
    background-color: rgba(0,0,0,.7);
}
.m-header .m-menu-ico {
    background-image: url(/img/mo_menu_b.png);
}
.m-header.m-header-scroll .m-menu-ico {
    background-image: url(/img/mo_menu_w.png);
}


/* 모바일 로고 */
.m-header > .m-top-bar > .m-top-logo {
    position:absolute;
    top:50%;
    transform:translatey(-50%);
}
.m-header > .m-top-bar > .m-top-logo > a > img {
    height:25px;
}

/* 모바일 메뉴 아이콘 */
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico {
    position:absolute;
    top:25px;
    right:0;
    width:20px;
    height:15px;
    cursor:pointer;
}
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:2px;
}
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico > div:nth-child(2) {
    top:50%;
    transform:translatey(-50%);
}
.m-header > .m-top-bar > .m-global-nav > .m-menu-ico > div:nth-child(3) {
    top:auto;
    bottom:0;
}
.m-country {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-60%, -50%);
    display: flex;
}
.m-country a {
    margin-right: 10px;
}
.m-country a:last-child {
    margin-right: 0;
}
.m-country a>img {
    height: 25px;
}
/* 모바일 메뉴 */
.m-menu-wrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:0;
    background-color:rgba(76,75,73,.6);
    z-index:400;
    overflow-y: auto;
    transition:height .5s;
}
.m-menu-wrap.active {
    height:100%;
}
.m-menu-wrap > .m-menu-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    transition:top .8s;
}
.m-menu-wrap.active > .m-menu-container {
    top:65px;
}
.m-menu-wrap > .m-menu-container > ul > li {
    border-bottom:1px solid #dfdfdf;
}
.m-menu-wrap > .m-menu-container ul > li > a {
    display:block;
    font-size:14px;
    padding:20px 10px;
    background-color:#fff;
    text-align:center;
}
.m-menu-wrap > .m-menu-container ul > li > ul.sub-2-menu {
    display: none;
}
.m-menu-wrap > .m-menu-container ul > li > ul.sub-2-menu > li > a {
    padding: 15px 10px;
    background-color:#eee;
    border-top: 1px solid #dfdfdf;
}
/* 기타 반응형 */
@media (max-width:1100px){
    .pc-only {
        display:none !important;
    }
}
@media (min-width:1101px){
    .mobile-only {
        display:none !important;
    }
}

#brand {
    padding: 50px 0;
    position: relative;
}
#brand::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/sub/about/sub_logo.png) no-repeat right bottom/30%;
    width: 100%;
    height: 100%;
}
#brand .bg {
    -webkit-transform: rotate(90deg);   
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top:50%;
    left:0;
    white-space: nowrap;
}
#brand .bg>p {
    transform: translate(-50%, -100%);
    padding: 15px 30px;
    font-size: 10px;
    letter-spacing: 15px;
    color: #fff;
    background-color: #ddd;
}
#brand .txt>h4 {
    margin:0 0 30px 0;
}
#brand .txt>h4>em {
    font-size: 30px;
    font-weight: 700;
    color: #183f26;
}
#brand .txt>span {
    font-size: 18px;
    line-height: 30px;
}
#brand .box {
    position: relative;
    width: 1150px;
    margin: 30px auto;
    padding: 30px 0;
    background-color: #183f26;
}
#brand .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/sub/about/sub_s_logo.png) no-repeat center center/10%;
    width: 100%;
    height: 100%;
}
#brand .box>p {
    padding: 0 400px;
    font-size: 20px;
}
#brand .box>.en {
    padding-right: 0;
    float: left;
    color: #c8a674;
    font-family: 'Noto Serif KR', serif;
    letter-spacing: 2px;
    z-index: 1;
}
#brand .box>.ko {
    padding-left: 0;
    color: #fff;
    text-align: right;
}
@media all and (max-width: 700px) {
    #brand {
        padding: 50px 0;
        position: relative;
    }
    #brand::before {
        display: none;
    }
    #brand .bg {
        -webkit-transform: rotate(90deg);   
        -webkit-transform-origin: left top;
        -moz-transform: rotate(90deg);
        -moz-transform-origin: left top;
        -ms-transform: rotate(90deg);
        -ms-transform-origin: left top;
        -o-transform: rotate(90deg);
        -o-transform-origin: left top;
        transform: rotate(90deg);
        transform-origin: left top;
        position: absolute;
        top:50%;
        left:0;
        white-space: nowrap;
    }
    #brand .bg>p {
        transform: translate(-50%, -100%);
        padding: 15px 30px;
        font-size: 10px;
        letter-spacing: 10px;
        color: #fff;
        background-color: #ddd;
    
    }
    #brand .txt>h4 {
        margin:10px 0 30px 0;
    }
    #brand .txt>h4>em {
        font-size: 25px;
        font-weight: 600;
        color: #183f26;
        margin:0 0 30px 0;
    }
    #brand .txt>span {
        font-size: 14px;
        line-height: 25px;
    }
    #brand .box {
        position: relative;
        width: 100%;
        margin: 30px auto;
        padding: 15px 0;
        background-color: #183f26;
    }
    #brand .box::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(../img/sub/about/sub_s_logo.png) no-repeat center center/20%;
        width: 100%;
        height: 100%;
    }
    #brand .box>p {
        padding: 0 20px;
        font-size: 16px;
    }
    #brand .box>.en {
        padding-right: 0;
        float: left;
        color: #c8a674;
        font-family: 'Noto Serif KR', serif;
        letter-spacing: 2px;
        z-index: 1;
    }
    #brand .box>.ko {
        padding-left: 0;
        color: #fff;
        text-align: right;
    }
}

/* sec - 공통 */
.f_wrap::after {
    content:'';
    display:block;
    clear:both;
}
.m_100 {
    margin:100px 0; 
}
.m_t_100 {
    margin-top: 100px;
}
.wrapper {
    margin: 0 auto;
    width: 1150px;
}
section .title {
    text-align: center;
}
section .title h2 {
    font-size: 30px;
    margin-bottom:20px;
}
section .title h3 {
    font-size: 18px;
}
section .title h4 {
    padding-bottom: 15px;
    font-size: 16px;
}
section .read_more {
    text-decoration: underline;
}


@media all and (max-width: 1400px) {
    .wrapper {
        margin: 0 auto;
        width: 800px;
    }
}
@media all and (max-width: 1060px) {
    .wrapper {
        width: 700px;
    }
    section .title h2 {
        margin-bottom: 15px;
        font-size: 28px;
    }
    section .title h3 {
        font-size: 16px;
    }
    section .read_more {
        font-size: 16px;
    }
}
@media all and (max-width: 700px) {
    .m_100 {
        margin: 70px 0;
    }
    .m_t_100 {
        margin-top: 70px;
    }
    .wrapper {
        width: 90%;
    }
    section .title h2 {
        font-size: 22px;
        line-height: 30px;
    }
    section .title h3 {
        width: 100%;
        margin: 0 auto;
        line-height: 22px;
        word-break: keep-all;
    }
    section .title h4 {
        font-size: 12px;
        letter-spacing: 4px;
    }
}

/* map 공통 */
#map {
    width: 100%;
}
#map .m_wrapper {
    width: 1150px;
    margin: 0 auto;
}
.map_img {
    float: left;
    width: 50%;
    margin-right: 3%;
}
.map_img img {
    width: 100%;
}
.address {
    float: left;
    width: 47%;
}
.address h1 {
    font-size: 22px;
}
.address span.line {
    display: block;
    margin: 15px 0 20px;
    width: 40px;
    height: 3px;
    background-color: #c1ac9b;
}
.address .clinic_ad .text01 {
    font-size: 20px;
    padding-bottom: 10px;
}
.address .clinic_ad .text02 {
    font-size: 18px;
}
.address .clinic_ad .text02 span {
    color: #d02422;
}
.naverplace {
    display: block;
    margin: 15px 0;
}
.naverplace img {
    margin: 0;
}
.address .parking_ad .box {
    padding: 20px;
    background-color: #f2f2f2;
}
.address .parking_ad .box h2 {
    margin-top: 20px;
}
.address .parking_ad .box h2:first-of-type {
    margin-top: 0;
}
.address .parking_ad .box h2 img {
    display: inline-block;
    margin-right: 5px;
}
.address .parking_ad .box h2 p {
    display: inline-block;
    margin-top: 8px;
    vertical-align: top;
}
.address .parking_ad .box .p01 {
    padding-left: 40px;
    font-size: 18px;
    color: #875e36;
}
.address .parking_ad .box .p_text01 {
    font-size: 18px;
    padding-top: 10px;
    padding-left: 40px;
}
.address .parking_ad .box .p_text02 {
    color: #5e5e5e;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 40px;
}
.address .parking_ad .box .p02 {
    padding-left: 40px;
    font-size: 18px;
    color: #286aa6;
}
@media all and (max-width: 1200px) {
    #map .m_wrapper {
        width: 90%;
    }
}
@media all and (max-width: 1100px) {
    #info {
        width:90%;
    }
    #info .wrap {
        margin: 40px 20px;
    }
}
@media all and (max-width: 1080px) {
    .map_img {
        float: none;
        width: 70%;
        margin-right: 0;
        margin: 0 auto 50px;
    }
    .address {
        float: none;
        width: 70%;
        margin: 0 auto;
    }
}
@media all and (max-width: 920px) {
    .map_img,
    .address {
        width: 100%;
    }
} 
@media all and (max-width: 700px) {
    .naverplace img {
        width: 100%;
    }
    #info .call {
        width: 100%;
        margin-right: 0;
    }
    #info .time {
        width: 100%;
    }
    .address h1 {
        font-size: 20px;
    }
    .address .clinic_ad .text01 {
        font-size: 18px;
    }
    .address .clinic_ad .text02 {
        font-size: 16px;
        line-height: 20px;
    }
    .address .parking_ad .box > p {
        font-size: 16px;
        line-height: 20px;
    }
}
/* footer */
footer {
    width: 100%;
    padding: 60px 0;
    background-color: #333;
}
footer .footer_logo {
    margin: 0 auto;
    text-align: center;
}
footer .footer_logo img {
    display: inline-block;
    vertical-align: middle;
}
footer p {
    font-size: 14px;
    color: #fff;
    text-align: center;
}
footer .f_tit {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 300;
}
footer .info {
    padding: 60px 0 20px;
    line-height: 27px;
    text-align: center;
}
footer .info > p {
    display: inline-block;
}
footer .info > a {
    font-size: 14px;
    color: #fff;
}
footer .info br {
    display: none;
}
footer .info span.line {
    display: inline-block;
    margin: 0 25px;
    width: 1px;
    height: 14px;
    background-color: #fff;
}
footer .f_address {
    margin: 0 auto;
    padding-bottom: 60px;
    line-height: 20px;
}
footer .copyright {
    font-size: 14px;
    letter-spacing: 0;
}
footer .f_btn_area {
    margin-top:30px;
}
footer .f_btn_area a {
	margin-left:15px;
    vertical-align: middle;
    display: inline-block;
}
footer .f_btn_area a:first-child {
	margin-left: 0;
}

@media all and (max-width: 700px) {
    footer {
        padding: 30px 0;
    }
    footer .footer_logo {
        width: 90%;
        margin:0 auto;
    }
    footer .f_tit {
        padding-right: 0;
        font-size: 18px;
        margin-bottom: 15px;
    }
    footer .info {
        width: 90%;
        margin: 0 auto;
        padding: 30px 0 15px;
        font-size: 16px;
    }
    footer .info br {
        display: block;
    }
    footer .info span.line {
        display: none;
    }
    footer .f_address {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
        line-height: 20px;
    }
    footer .copyright {
        margin: 0 auto;
        width: 90%;
        font-size: 12px;
        line-height: 20px;
    }
    footer .f_btn_area {
        position: relative;
        width:80%;
        margin: 30px auto 30px auto;
        overflow: hidden;
        text-align: center;
    }
    footer .f_btn_area a {
        width:25%;
        float: left;
        text-align: center;
        margin: 0 auto;
    }
}
