/* * {outline:  1px solid #f00;} */


.pc_br{
    display: block;
}
.mo_br{
    display: none;
}
@media all and (max-width: 700px) {
    .pc_br{
        display: none;
    }
    .mo_br{
        display: block;
    }
}

/* main_visual */
#main_visual {
    position:relative;
    width: 100%;
    height: auto;
    /* height: 100vh; */
    overflow: hidden;
    padding-top:90px;
    font-size: 0;
}
#main_visual .title {
    position: absolute;
    width: 100%;
    bottom: 20%;
    right: 10%;
    text-align: right;
    z-index: 1;
}
#main_visual .title h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
}
#main_visual .title .title_ctn {
    font-size:1.2rem;
    line-height:1.5;
    color: #fff;
}
#main_visual .visual_video {
    width: 100%;
}
@media all and (max-width: 1200px) {
    #main_visual .title h2 {
        font-size: 1.8rem;
    }
    #main_visual .title .title_ctn {
        font-size: .9rem;
    }
}

@media all and (max-width: 700px) {
    #main_visual {
        position:relative;
        width: 100%;
        height: auto;
        /* height: 100vh; */
        overflow: hidden;
        padding-top:65px;
    }
    #main_visual .title {
        display: none;
        bottom: 8%;
        left: 5%;
    }
    #main_visual .title h2 {
        font-size: 20px;
        line-height: 22px;
    }
    #main_visual .title .title_ctn {
        font-size: 16px;
        width: 78%;
    }
}


#banner {
    padding: 50px 0;
    min-width: 1903px;
    background-image: url(../img/main/banner_bg.jpg);
    background-repeat: no-repeat;
    background-position: right 30%;
    background-size: cover;
    box-sizing: border-box;
}
#banner .banner_txt h2 {
    font-family: 'Noto Serif KR', serif;
    display: block;
    text-align: center;
    font-size: 50px;
    line-height: 45px;
    color: #c9a774;
    letter-spacing: 10px;
}

#banner .banner_txt p {
    font-family: 'Noto Serif KR', serif;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}

@media all and (max-width: 700px) {
    #banner {
        padding: 60px 0;
        min-width: 100%;
        background-position: 20%;
    }
    #banner .banner_txt h2 {
        font-size: 25px;
        line-height: 35px;
    }
    #banner .banner_txt p {
        margin-top: 15px;
        font-size: 16px;
        line-height: 25px;
    }
}

#sec01 {
    padding: 100px 0;
    min-width: 1903px;
    background-image: url(../img/main/sec01_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
#sec01 .bold {
    display: inline-block;
    font-weight: 700;
}
#sec01 .main_t {
    margin-top: 30px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #2f2f2f;
}
#sec01 .main_t .bold {
    color: #183f26;
}
#sec01 .img {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    margin-top: 50px;
}
#sec01 .img>figure>img {
    width: 100%;
}
#sec01 .img>figure {
    margin-top: 3%;
}
#sec01 .img>figure:nth-child(-n+2) {
    margin-top: 0;
}
@media all and (max-width: 700px) {
    #sec01 {
        padding: 60px 0;
        min-width: 100%;
    }
    #sec01 .bold {
        display: inline-block;
        font-weight: 700;
    }
    #sec01 .main_t {
        margin-top: 30px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #2f2f2f;
    }
    #sec01 .img {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 49% 49%;
        grid-template-rows: 49% 49%;
        margin-top: 50px;
    }
    #sec01 .img>figure>img {
        width: 100%;
    }
    #sec01 .img>figure {
        margin-top: 3%;
    }
    #sec01 .img>figure:nth-child(-n+2) {
        margin-top: 0;
    }
}


#sec02 {
    padding: 100px 0;
    min-width: 1903px;
}

#sec02 .wrapper {
    text-align: center;
}
#sec02 .bold {
    display: inline-block;
    font-weight: 700;
}
#sec02 .sub_t{
    font-size: 18px;
    line-height: 30px;
}
#sec02 .main_t {
    margin-top: 30px;
    font-size: 30px;
    color: #183f26;
}
#sec02 .main_t .t_img {
    display: inline-block;
    vertical-align: sub;
}
#sec02 .main_t .bold {
    color: #183f26;
}
#sec02 .txt{
    margin-top: 60px;
    font-size: 18px;
    line-height: 25px;
}
#sec02 .txt .bold {
    padding: 1px;
    color: #000;
    background-color: rgba( 255, 160, 0, 0.5 );
}
#sec02 .bottom_txt {
    display: block;
    margin-top: 60px;
    font-size: 25px;
    line-height: 30px;
}
#sec02 .bottom_txt .bold {
    color: #183f26;
}
@media all and (max-width: 700px) {
    #sec02 {
        padding: 60px 0;
        min-width: 100%;
    }
    #sec02 .sub_t{
        font-size: 18px;
        line-height: 22px;
    }
    #sec02 .main_t {
        margin-top: 30px;
        font-size: 25px;
        color: #183f26;
        line-height: 30px;
    }
    #sec02 .main_t .t_img {
        display: block;
    }
    #sec02 .main_t .left {
        margin-left: 0;
    }
    #sec02 .main_t .right {
        margin-right: 0;
    }
    #sec02 .txt{
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
    }
    #sec02 .bottom_txt {
        margin-top: 30px;
        font-size: 22px;
        line-height: 25px;
    }
}

#sec03 {
    padding: 100px 0;
    min-width: 1903px;
    background-color: #f7f7f7;
}
#sec03:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 60%;
    height: 50%;
    background-color: #e8eaec;
}
#sec03 .wrapper {
    text-align: center;
    position: relative;
    z-index: 1;
}

#sec03 .title .txt {
    font-size: 18px;
}
#sec03 .title .main_t {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #183f26;
}
#sec03 .slider {
    overflow: hidden;
    position: relative;
    margin-top: 50px;
}
#sec03 .slider figure {
    padding: 0 15px;
    max-width: fit-content;
}

#sec03 .slider .case a img {
    max-width: 100%;
}
#sec03 .slider .txt {
    padding: 15px 0;
    background-color: #fff;
}
#sec03 .slider .txt h3 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-right: 10px;
    color: #ffa800;
    text-align: right;
}
#sec03 .slider .txt h3:after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    margin: 15px auto;
    background-color: #ffa800;
}
#sec03 .slider .txt p {
    font-size: 25px;
    font-weight: 700;
    margin-left: 20px;
    color: #000;
    text-align: left;
}
#sec03 .slider .txt span {
    display: block;
    margin:15px 0 15px 20px;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    text-align: left;
}
#sec03 .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    cursor: pointer;
}
#sec03 .arrows img{
    display: block;
    width: 100%;
    margin:15px 0;
    border-radius: 50%;
    background-color: #264130;
}
#sec03 .arrows .left {
    right: 600px;
}
#sec03 .arrows .right {
    left: 600px;
}
@media all and (max-width: 700px) {
    #sec03 {
        padding: 60px 0;
        min-width: 100%;
    }
    #sec03 .title .txt {
        font-size: 16px;
    }
    #sec03 .title .main_t {
        font-size: 25px;
    }
    #sec03 .slider {
        margin-top: 30px
    }
    #sec03 .slider .txt {
        padding: 15px 0;
        background-color: #fff;
    }
    #sec03 .slider .txt h3 {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0;
        margin-right: 5%;
        color: #ffa800;
        text-align: right;
    }
    #sec03 .slider .txt h3:after {
        content: "";
        display: block;
        width: 95%;
        height: 1px;
        margin: 15px -5% 15px auto;
        background-color: #ffa800;
    }
    #sec03 .slider .txt p {
        font-size: 17px;
        font-weight: 700;
        margin-left: 5%;
        color: #000;
        text-align: left;
    }
    #sec03 .slider .txt span {
        display: block;
        margin:15px 0 15px 5%;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        text-align: left;
    }
    #sec03 .arrows {
        display: none;   
    }
}

#sec04 {
    padding: 100px 0;
    min-width: 1903px;
    background-image: url(../img/main/product_bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    box-sizing: border-box;
}
#sec04:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 30%;
    background-color: #e8eaec;
}
#sec04:before {
    content: "Extraordinary Quality";
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 60px;
    color: #e1e1e1;
    display: block;
}
#sec04 .wrapper {
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
}
#sec04 .title {
    width: 1150px;
    margin: 0 auto
}
#sec04 .title .txt {
    font-size: 18px;
    text-align: left;
    margin-left: 15px;
}
#sec04 .slider {
    overflow: hidden;
    position: relative;
    margin-top: 50px
}
#sec04 .slider figure {
    padding: 0 15px
}
#sec04 .slider .equipment {
    width:100%;
    height: 100%;
    margin-top:200px;
}
#sec04 .slider .equipment img {
    width:100%;
}
#sec04 .slider .equipment h3 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin: 30px 0
}
#sec04 .slider .equipment span {
    font-size: 18px;
    color: #000;
    line-height: 25px;
}
#sec04 .slick-dots {
    text-align: center;
    margin-top: 60px;
}
#sec04 .slick-dots li {
    margin-left: 20px;
    display: inline-block;
}
#sec04 .slick-dots li:first-child {
    margin-left: 0 
}
#sec04 .slick-dots li button {
    border: none;
    background: #264130;
    font-size: 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    padding:0;
}
#sec04 .slick-dots .slick-active button {
    width: 12px;
    height: 25px;
    border-radius: 6px;
}
@media all and (max-width: 700px) {
    #sec04 {
        padding: 60px 0;
        min-width: 100%;
        background-image: url(../img/main/product_bg.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        box-sizing: border-box;
    }
    #sec04:before {
        left: 5%;
        font-size: 30px;
    }
    #sec04 .wrapper {
        text-align: center;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    #sec04 .title {
        width: 90%;
        margin: 0 auto
    }
    #sec04 .title .txt {
        font-size: 16px;
        text-align: left;
        margin-left: 0;
    }
    #sec04 .slider {
        margin-top: 30px
    }
    #sec04 .slider figure {
        padding: 0 10px;
    }
    #sec04 .slider .equipment {
        width:100%;
        height: 100%;
        margin-top:60%;
    }
    #sec04 .slider .equipment h3 {
        font-size: 17px;
        font-weight: 700;
        color: #000;
        margin: 15px 0
    }
    #sec04 .slider .equipment span {
        font-size: 16px;
        color: #000;
        line-height: 20px;
    }
    #sec04 .slick-dots {
        text-align: center;
        margin-top: 0
    }
}

#sec05 {
    padding: 100px 0;
    min-width: 1903px;
    overflow: hidden;
}
#sec05:before {
    content: "Jiune Dermatology Clinic";
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    font-family: 'Noto Serif KR', serif;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    color: #e1e1e1;
}
#sec05 .wrapper {
    width: 1526px;
    margin: 0 0 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}
#sec05 .title {
    float: left;
    text-align: left;
}
#sec05 .title .main_t {
    width: 500px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
#sec05 .title .txt {
    font-size: 18px;
    line-height: 30px;
}
#sec05 .slider {
    overflow: hidden;
    position: relative;
    margin-top: 50px
}
#sec05 .slider .case {
    padding: 0 0 0 15px;
    max-width: fit-content;
}
#sec05 .slider .case img {
    width: 100%;
}
#sec05 .arrows {
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translateX(-25%);    
    cursor: pointer;
}
#sec05 .arrows img{
    display: block;
    width: 100%;
    margin:15px 0;
    border-radius: 50%;
    background-color: #264130;
}
@media all and (max-width: 700px) {
    #sec05 {
        padding: 60px 0;
        min-width: 100%;
    }
    #sec05 .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    #sec05 .title {
        float: none;
        text-align: left;
        margin-left: 5%
    }
    #sec05 .title .main_t {
        font-size: 25px;
        line-height: 30px;
    }
    #sec05 .title .txt {
        font-size: 16px;
        line-height: 25px;
    }
    #sec05:before {
        font-size: 30px;
        letter-spacing: 0;
    }
    #sec05 .slider .case {
        padding: 0 15px;
    }
    #sec05 .arrows {
        display: none;   
    }
}


#txt {
    padding: 25px 0;
    min-width: 1903px;
    overflow: hidden;
}
#txt .wrapper{
    text-align: center;
}

#txt h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 20px;
}
#txt h2>p {
    display: inline-block;
    letter-spacing: 30px;
}

#txt .green {
    color:#183f26;
}
#txt .brown {
    color:#c9a774;
}
@media all and (max-width: 700px) {
    #txt {
        padding: 10px 0;
        min-width: 100%;
    }
    #txt h2 {
        font-size:16px;
        font-weight: 500;
        letter-spacing: 10px;
        line-height: 0;
        margin-bottom: 0;
    }
    #txt h2>p {
        letter-spacing: 0;
    }
}

#sec06 {
    min-width: 1903px;
    overflow: hidden;
}

#sec06 .flex {
    text-align: center;
    position: relative;
    display: flex;
}
#sec06 .flex .left {
    flex:1;
    text-align: right;
    background-color: #264130;
    padding:60px 0;
}   
#sec06 .flex .left:before {
    content: "Jiune";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    font-family: 'Tangerine', cursive;
    font-size: 250px;
    font-weight: 700;
    letter-spacing: -5px;
    color: #233c30;
}   
#sec06 .flex .left .main_t {
    top: 50%;
    transform: translateY(-50%);
    margin-right: 30px;
    font-family: 'Noto Serif KR', serif;
    font-size: 50px;
    line-height: 90px;
    color: #fff;
    letter-spacing: 10px;
    z-index: 1;
}
#sec06 .flex .right {
    flex:2;
    text-align: center;
    background-image: url(../img/main/sec05_right_bg.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: cover;
    box-sizing: border-box;
    padding:60px 0;
}

#sec06 .flex .right h3 {
    font-size: 30px;
    line-height: 45px;
    margin: 30px 0 30px 0;
}
#sec06 .flex .right .t_img {
    display: block;
}
#sec06 .flex .right .l_img {
    margin-left:35%;
}
#sec06 .flex .right .r_img {
    margin-right:35%;
}
#sec06 .flex .right p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
}
#sec06 .flex .right .bold {
    display: inline-block;
    font-weight: 700;
    color: #0b3a28;
}
#sec06 .flex .right p>.bold {
    font-size: 20px;
    line-height: 30px;
}
@media all and (max-width: 700px) {
    #sec06 {
        padding: 5px 0 30px 0;
        min-width: 100%;
    }
    #sec06 .flex {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    #sec06 .flex .left:before {
        font-size: 200px;
    }   
    #sec06 .flex .left .main_t {
        transform: translateY(0);
        margin-right: 5%;
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 3px;
    }
    #sec06 .flex .right {
        width: 100%;
        margin: 0 auto
    }
    #sec06 .flex .right h3 {
        font-size: 25px;
        line-height: 35px;
        margin: 15px 5% 30px 5%
    }
    #sec06 .flex .right .l_img {
        margin-left:0;
    }
    #sec06 .flex .right .r_img {
        margin-right:0;
    }
    #sec06 .flex .right p {
        font-size: 16px;
        margin: 15px 5% 0 5%
    }
    #sec06 .flex .right p>.bold {
        font-size: 18px;
        line-height: 30px;
    }
}

#common {
    padding: 100px 0;
    min-width: 1903px;
    overflow: hidden;
}
#common .wrapper {
    position: relative;
    display: flex;
}
#common .left {
    flex:1;
    padding-right: 30px;
    overflow: hidden;
}
#common .left #map {
    width:550px;
    height:450px;
}
#common .right {
    flex:1;
    padding-left: 30px;
}
#common .right h3 {
    width: 80%;
}
#common .right h3 img {
    max-width: 100%;
}
#common .right .info span {
    display: inline-block;
    margin: 30px 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}
#common .right .info span::before {
    content: "";
    display: inline-block;
    margin-right:10px;
    width: 5px;
    height: 30px;
    background-color: #233c30;
    vertical-align: middle;
}
#common .right .info p {
    font-size: 20px;
    line-height: 30px;
    display: block;
}
#common .right .info .circle {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #21c059;
}

#common .right .info .box {
    padding: 15px;
    background-color: #f7f7f7;
    letter-spacing: 1px;
}
#common .right .info .time {
    width: 100px;
    text-align-last: justify;
    margin-right: 30px;
    display: inline-block;
    font-weight: 700;
    line-height: 30px;
}
@media all and (max-width: 700px) {
    #common {
        padding: 30px 0 60px 0;
        min-width: 100%;
    }
    #common .wrapper {
        flex-direction: column;
    }
    #common .left {
        padding-right: 0;
        overflow: hidden;
    }
    #common .left #map {
        width:auto;
        height:450px;
    }
    #common .map .root_daum_roughmap {
        width: 100%! important;
    }
    #common .right {
        padding-left: 0;
    }
    #common .right h3 {
        width: 70%;
        margin: 30px auto 0;
    }
    #common .right .info span {
        margin: 30px 0 15px 0;
        font-size: 25px;
    }
    #common .right .info span::before {
        width: 2px;
        height: 25px;
        vertical-align: top;
    }
    #common .right .info p {
        font-size: 16px;
        line-height: 25px;
    }
    #common .right .info .box {
        font-size: 16px;
    }
    #common .right .info .time {
        width: 20%;
        text-align-last: justify;
        margin-right: 5%;
        display: inline-block;
        font-weight: 700;
        line-height: 30px;
    }
}

#reference {
    padding: 0 0 100px 0;
    min-width: 1903px;
    overflow: hidden;
}
#reference .wrapper {
    text-align: center;
}
#reference .wrapper>p {
    font-size: 16px;
    line-height: 30px;
}
@media all and (max-width: 700px) {
    #reference {
        padding: 0 0 60px 0;
        min-width: 100%;
    }
    #reference .wrapper>p {
        font-size: 14px;
        line-height: 25px;
    }
}