@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


:root {
    --mc: #E05F5E;
    --sc: #85B8FA;
    --bc: #fff;
    --tc: #333333;
    --gc: #dddddd;
    --lc: #f5f5f5;
}

html {font-size: 20px;}
body {font-size: 0.8rem; color: var(--tc);}

.wrap {min-width: 95rem;}

/* 헤더영역 시작 --{ */
.header h1 {position: fixed; top: 3rem; left: 3rem; z-index: 999;}
.header h1 a {font-family: 'Open Sans Condensed', sans-serif; font-size: 1.2rem; font-weight: 300; letter-spacing: 0.025em;}
.header h1 a span {display: block;}
.header h1 a span:after {content: ""; display: inline-block; width: 3.5rem; height: 1px; background: var(--mc); vertical-align: middle; animation: line 3s infinite;}

@keyframes line {
    0% {width: 0;}
    100% {width: 3.5rem;}
}

.header h1 a em {display: block;}

.header nav {position: fixed; top: 50%; right: 3rem; transform: translateY(-50%); z-index: 997;}
.header nav li a {display: block; position: relative; width: 2rem; height: 1.2rem; text-indent: -9999px;}
.header nav li a:after {content: ""; display: block; position: absolute; top: 0.45rem; right: 0; width: 0.75rem; height: 0.1rem; background: var(--gc); transition: 0.3s;}
.header nav li.on a:after {width: 100%; background: var(--tc)}

.header .cover_btn {position: fixed; top: 3rem; right: 3rem; z-index: 999;}
.header .cover_btn i {font-size: 1rem; padding: 0.5rem; background: var(--bc); border-radius: 50%; border: 1px solid var(--gc);}
/* --} 헤더영역 끝*/ 

/* 좌측 슬라이드 디자인 시작 --{ */
.wheel {display: block; position: absolute; width: 9rem; height: 100vh; background: url(../img/bg03.png); color: var(--tc); z-index: 997;}
.wheel p {display: block; position: fixed; top: 50%; left: 3rem; transform: translateY(-50%); font-size: 0.8rem; font-weight: 300; writing-mode: vertical-rl; text-orientation: mixed; animation: wheel 1s infinite}
.wheel p>i {display: inline-block; font-size: 1rem; vertical-align: top;}

@keyframes wheel {
    to {top: 55%;}
}
/* --} 좌측 슬라이드 디자인 끝 */

/* 공통 배경이미지 시작 --{ */ 
.section {background: url(../img/bg02.png);}
/* --} 공통 배경이미지 끝 */ 

/* 심볼 배경이미지 시작 --{ */
.symbol {position: fixed; bottom: 0; right: 0; z-index: -1;}
.symbol figure {width: 30rem; opacity: 0.5;}
.symbol figure img {width: 100%;}
/* --} 심볼 배경이미지 끝 */ 

/* 컨테이너 틀 시작 --{ */ 
.container {display: block; position: relative; align-items: center; width: 70rem; margin: 0 auto; z-index: 997;}
/* --} 컨테이너 틀 끝 */ 


/* 슬라이드 하단 네비 시작 --{ */
.fp-slidesNav.fp-bottom {bottom:2rem}
/* --} 슬라이드 하단 네비 끝 */

/* 커버 시작 --{ */ 
.intro .slogan {text-align: center;}
.intro .slogan h2 {font-size: 2.5rem; font-weight: 700; margin-bottom: 1.5rem;}
.intro .slogan p {display: block; font-size: 0.9rem; font-weight: 300; color: var(--mc); margin-bottom: 1rem;}
.intro .slogan p:after {content: ""; display: block; width: 19.5rem; height: 1px; background: var(--mc); margin: 0.2rem auto 0 auto;}
.intro .slogan em {display: block; font-size: 1rem; font-weight: 300; line-height: 1.5;}
/* --} 커버 끝 */ 

/* 포트폴리오 01 시작 --{ */ 
.pf01 {text-align: left;}
.pf01 h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 0 1.5rem 13rem;}
.pf01 .container {display: flex; justify-content: center;}
.pf01 .container .left {flex:1; position: relative; right: 3.5rem}
.pf01 .container .right {flex:1; text-align: left;}

/* pc 목업 시작 --{ */ 
.pf01 .left .pc_mockup {background: url(../img/pc_mockup.png) no-repeat center top/80%; padding: 1.5% 11.3% 21.5% 11.3%;}
.pf01 .left .pc_mockup figure {position: relative; padding-bottom: 60%; overflow: hidden;}
.pf01 .left .pc_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 10s;}
.pf01 .left .pc_mockup figure:hover img {transform: translateY(-100%);top:100%}
/* --} pc 목업 끝*/ 

/* mobile 목업 시작 --{ */ 
.pf01 .left .m_mockup {position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
.pf01 .left .m_mockup .sub {position: absolute; top: 13px; right: 3rem; width: 40%; z-index: 999;}
.pf01 .left .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
.pf01 .left .m_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 10s;}
.pf01 .left .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
/* --} mobile 목업 끝*/ 

/* 포트폴리오 설명 시작 --{ */ 
.pf01 .right .description h4 {display: inline-block; font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
.pf01 .right .description p {display: inline-block; font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 100; color: var(--tc); margin-left: 1rem;}
.pf01 .right .description em {display: block; font-size: 1rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
.pf01 .right .description dl {display: inline-flex; line-height: 1.5rem;}
.pf01 .right .description dl dt {width: 8rem; font-family: 'DM Serif Display', serif;}
.pf01 .right .description dl dt:before {content: "＃"; margin-right: 1rem;}
.pf01 .right .description dl:last-of-type {margin-bottom: 2rem;}
.pf01 .right .description dd span {display:inline-block;width:0.6rem;height:0.6rem;border-radius:50%;vertical-align:middle;}
.pf01 .right .description dd strong {margin-right:1rem;}
.pf01 .description dd span:nth-of-type(1) {background: #ED1846; vertical-align: baseline;}
.pf01 .description dd span:nth-of-type(2) {background: #CCCCCC; vertical-align: baseline;}
.pf01 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
/* --} 포트폴리오 설명 끝*/ 
/* --} 포트폴리오 01 끝*/ 


/* 포트폴리오 02 시작 --{ */ 
.pf02 {text-align: right;}
.pf02 h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 13rem 1.5rem 0;}
.pf02 .container {display: flex; justify-content: center;}
.pf02 .container .left {flex:1; text-align: left;}
.pf02 .container .right {flex:1; position: relative;}

/* 포트폴리오 설명 시작 --{ */ 
.pf02 .left .description h4 {display: inline-block; font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
.pf02 .left .description p {display: inline-block; font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 100; color: var(--tc); margin-left: 1rem;}
.pf02 .left .description em {display: block; font-size: 1rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
.pf02 .left .description dl {display: inline-flex; line-height: 1.5rem;}
.pf02 .left .description dl dt {width: 8rem; font-family: 'DM Serif Display', serif;}
.pf02 .left .description dl dt:before {content: "＃"; margin-right: 1rem;}
.pf02 .left .description dl:last-of-type {margin-bottom: 2rem;}
.pf02 .left .description dd span {display: inline-block; width: 0.6rem; height: 0.6rem; border-radius: 50%; vertical-align: middle;}
.pf02 .left .description dd strong {margin-right:1rem;}
.pf02 .description dd span:nth-of-type(1) {background: #EF151E; vertical-align: baseline;}
.pf02 .description dd span:nth-of-type(2) {background: #AAA096; vertical-align: baseline;}
.pf02 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
/* --} 포트폴리오 설명 끝*/ 

/* pc 목업 시작 --{ */ 
.pf02 .right .pc_mockup {background: url(../img/pc_mockup.png) no-repeat center top/80%; padding: 1.5% 11.3% 21.5% 11.3%;}
.pf02 .right .pc_mockup figure {position: relative; padding-bottom: 60%; overflow: hidden;}
.pf02 .right .pc_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
.pf02 .right .pc_mockup figure:hover img {transform: translateY(-100%);top:100%}
/* --} pc 목업 끝*/ 

/* mobile 목업 시작 --{ */ 
.pf02 .right .m_mockup {position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
.pf02 .right .m_mockup .sub {position: absolute; top: 13px; left: 3rem; width: 40%; z-index: 999;}
.pf02 .right .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
.pf02 .right .m_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
.pf02 .right .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
/* --} mobile 목업 끝*/ 
/* --} 포트폴리오 02 끝*/ 


/* 포트폴리오 03 시작 --{ */ 
.pf03 {text-align: left;}
.pf03 h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 0 1.5rem 13rem;}
.pf03 .container {display: flex; justify-content: center;}
.pf03 .container .left {flex:1; position: relative; right: 3.5rem}
.pf03 .container .right {flex:1; text-align: left;}

/* pc 목업 시작 --{ */ 
.pf03 .left .pc_mockup {background: url(../img/pc_mockup.png) no-repeat center top/80%; padding: 1.5% 11.3% 21.5% 11.3%;}
.pf03 .left .pc_mockup figure {position: relative; padding-bottom: 60%; overflow: hidden;}
.pf03 .left .pc_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 10s;}
.pf03 .left .pc_mockup figure:hover img {transform: translateY(-100%);top:100%}
/* --} pc 목업 끝*/ 
    
/* mobile 목업 시작 --{ */ 
.pf03 .left .m_mockup {position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
.pf03 .left .m_mockup .sub {position: absolute; top: 13px; right: 3rem; width: 40%; z-index: 999;}
.pf03 .left .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
.pf03 .left .m_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 10s;}
.pf03 .left .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
/* --} mobile 목업 끝*/ 

/* 포트폴리오 설명 시작 --{ */ 
.pf03 .right .description h4 {display: inline-block; font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
.pf03 .right .description p {display: inline-block; font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 100; color: var(--tc); margin-left: 1rem;}
.pf03 .right .description em {display: block; font-size: 1rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
.pf03 .right .description dl {display: inline-flex; line-height: 1.5rem;}
.pf03 .right .description dl dt {width: 8rem; font-family: 'DM Serif Display', serif;}
.pf03 .right .description dl dt:before {content: "＃"; margin-right: 1rem;}
.pf03 .right .description dl:last-of-type {margin-bottom: 2rem;}
.pf03 .right .description dd span {display:inline-block;width:0.6rem;height:0.6rem;border-radius:50%;vertical-align:middle;}
.pf03 .right .description dd strong {margin-right:1rem;}
.pf03 .description dd span:nth-of-type(1) {background: #5E5048; vertical-align: baseline;}
.pf03 .description dd span:nth-of-type(2) {background: #FF3478; vertical-align: baseline;}
.pf03 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
/* --} 포트폴리오 설명 끝*/ 
/* --} 포트폴리오 03 끝*/ 


/* 포트폴리오 04 시작 --{ */ 
.pf04 {text-align: right;}
.pf04 h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 13rem 1.5rem 0;}
.pf04 .container {display: flex; justify-content: center;}
.pf04 .container .left {flex:1; text-align: left;}
.pf04 .container .right {flex:1; position: relative;}

/* 포트폴리오 설명 시작 --{ */ 
.pf04 .left .description h4 {display: inline-block; font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
.pf04 .left .description p {display: inline-block; font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 100; color: var(--tc); margin-left: 1rem;}
.pf04 .left .description em {display: block; font-size: 1rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
.pf04 .left .description dl {display: inline-flex; line-height: 1.5rem;}
.pf04 .left .description dl dt {width: 8rem; font-family: 'DM Serif Display', serif;}
.pf04 .left .description dl dt:before {content: "＃"; margin-right: 1rem;}
.pf04 .left .description dl:last-of-type {margin-bottom: 2rem;}
.pf04 .left .description dd span {display:inline-block;width:0.6rem;height:0.6rem;border-radius:50%;vertical-align:middle;}
.pf04 .left .description dd strong {margin-right:1rem;}
.pf04 .description dd span:nth-of-type(1) {background: #FF3478; vertical-align: baseline;}
.pf04 .description dd span:nth-of-type(2) {background: #FFFFFF; vertical-align: baseline; border: 1px solid #333;}
.pf04 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
/* --} 포트폴리오 설명 끝*/ 

/* pc 목업 시작 --{ */ 
.pf04 .right .pc_mockup {background: url(../img/pc_mockup.png) no-repeat center top/80%; padding: 1.5% 11.3% 21.5% 11.3%;}
.pf04 .right .pc_mockup figure {position: relative; padding-bottom: 60%; overflow: hidden;}
.pf04 .right .pc_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
.pf04 .right .pc_mockup figure:hover img {transform: translateY(-100%);top:100%}
/* --} pc 목업 끝*/ 

/* mobile 목업 시작 --{ */ 
.pf04 .right .m_mockup {position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
.pf04 .right .m_mockup .sub {position: absolute; top: 13px; left: 3rem; width: 40%; z-index: 999;}
.pf04 .right .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
.pf04 .right .m_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
.pf04 .right .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
/* --} mobile 목업 끝*/ 
/* --} 포트폴리오 04 끝*/ 


/* 포트폴리오 05 시작 --{ */ 
.pf05 {text-align: left;}
.pf05 h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 0 1.5rem 13rem;}
.pf05 .container {display: flex; justify-content: center;}
.pf05 .container .left {flex:1; position: relative; right: 3.5rem}
.pf05 .container .right {flex:1; text-align: left;}

/* main_page 목업 시작 --{ */ 
.pf05 .left .main_mockup {background: url(../img/pc_mockup.png) no-repeat center top/80%; padding: 1.5% 11.3% 21.5% 11.3%;}
.pf05 .left .main_mockup figure {position: relative; padding-bottom: 60%; overflow: hidden;}
.pf05 .left .main_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
.pf05 .left .main_mockup figure:hover img {transform: translateY(-100%);top:100%}
/* --} main_page 목업 끝*/ 

/* sub_page 목업 시작 --{ */ 
.pf05 .left .sub_mockup {position: absolute; top: 11rem; right: -3rem; width: 80%; background: url(../img/notebook_mockup.png) no-repeat center top/80%; padding: 8.5% 16.5% 19% 14.5%; overflow: hidden;}
.pf05 .left .sub_mockup .sub {position: absolute; top: 13px; right: 3rem; width: 40%; z-index: 999;}
.pf05 .left .sub_mockup figure {position: relative; padding-bottom: 64%; overflow: hidden;}
.pf05 .left .sub_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 5s;}
.pf05 .left .sub_mockup figure:hover img {transform: translateY(-100%); top:100%}
/* --} sub_page 목업 끝*/ 

/* 포트폴리오 설명 시작 --{ */ 
.pf05 .right .description h4 {display: inline-block; font-size: 2.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
.pf05 .right .description p {display: inline-block; font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 100; color: var(--tc); margin-left: 1rem;}
.pf05 .right .description em {display: block; font-size: 1rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
.pf05 .right .description dl {display: inline-flex; line-height: 1.5rem;}
.pf05 .right .description dl dt {width: 8rem; font-family: 'DM Serif Display', serif;}
.pf05 .right .description dl dt:before {content: "＃"; margin-right: 1rem;}
.pf05 .right .description dl:last-of-type {margin-bottom: 2rem;}
.pf05 .right .description dd span {display:inline-block;width:0.6rem;height:0.6rem;border-radius:50%;vertical-align:middle;}
.pf05 .right .description dd strong {margin-right:1rem;}
.pf05 .description dd span:nth-of-type(1) {background: #89A130; vertical-align: baseline;}
.pf05 .description dd span:nth-of-type(2) {background: #715F5C; vertical-align: baseline;}
.pf05 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
/* --} 포트폴리오 설명 끝*/ 
/* --} 포트폴리오 05 끝*/ 

/* 스타일가이드 팝업 시작 --{ */
.guide {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background:rgba(0, 0, 0,0.9); z-index:999}
.guide.open {display: block;}
.guide i {font-size: 2rem; color: var(--mc); position: absolute; top: 4rem; right: 12rem; z-index: 999;}
.guide>div {position: relative; top: 50%; transform: translateY(-50%); margin: 0 auto; width: 75rem; height:40rem; background: var(--bc); overflow-y: scroll;}
.guide>div img {width: 100%;}
.guide>div::-webkit-scrollbar {width: 0.5rem; background: var(--gc);}
.guide>div::-webkit-scrollbar-thumb {background: var(--tc); border-radius: 0.25rem;}
/* --} 스타일가이드 팝업 끝 */

/* 포트폴리오 버튼 시작 --{ */
.section .description ul {display: flex; gap: 0.5rem}
.section .description ul a {display: block; border: 1px solid var(--gc); color: var(--tc); background: var(--bc); line-height: 3rem; padding: 0 2rem; border-radius:10px;}
/* .section .description ul a {display: block; background: var(--tc); color: var(--lc); line-height: 3rem; padding: 0 2rem;} */
.section .description ul a:hover {background: var(--mc);}
/* --} 포트폴리오 버튼 끝 */

/* 수업시간 제작 시작 --{ */
.class h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 0 1.5rem 13rem;}
.class .container {display: block; position: relative; align-items: center; width: 71.5rem; margin: 0 auto; z-index: 997;}
.class .class_item {width:33%;height:auto; padding: 0 15px}
.class .class_item .item_box {width:100% ;height:auto;border-radius:10px;overflow:hidden;border:1px solid var(--gc);}
.class .class_item .item_box figure {height:auto;text-align:center;overflow:hidden;}
.class .class_item .item_box figure img {width:100%;text-align:center;transition:0.5s;}
.class .class_item .item_box .item_text {padding:20px;background:#fff; text-align:center}

.class .class_item .item_box .item_text h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
.class .class_item .item_box .item_text p {font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 300; color: var(--tc); line-height:2; padding-bottom:15px;}

.class .class_item .item_box .item_text span a {display:block; width: 6.5rem; height: 2rem;color:#333;font-size:0.8rem; line-height: 2rem; padding:0 1rem; text-align:center; border-radius:10px; margin:0 auto; border: 1px solid var(--gc);}
.class .class_item .item_box .item_text span a:hover {background: var(--mc);}

.class ul.slick-dots {text-align:center; padding-top:30px; font-size:0;}
.class ul.slick-dots li {display:inline-block; width:10px; height:10px; background: var(--sc); border-radius:10px; margin:7px; transition:0.5s; cursor:pointer;}
.class ul.slick-dots li.slick-active {background: var(--mc);width:30px;border:1px solid var(--mc);}
.class ul.slick-dots button {display:none;}
/* --} 수업시간 제작 끝 */

/* 프로필 시작 --{ */
.profile h3 {font-size: 1.5rem; font-weight: 700; color: var(--tc); margin: 0 13rem 1.5rem 0; text-align: right;}
.profile .container {display: flex; justify-content: center; width: 70rem; margin: 0 auto;}
.profile .container .left {flex:1;}
.profile .container .right {flex:1; text-align: left;}
.profile h4 {display: block; font-size: 1.5rem; font-weight: 700; margin-bottom: 0.75rem; color: var(--mc);}
.profile .left figure {width: 15rem; background: #000; border-radius: 50%; overflow: hidden; margin: 0 auto 2rem auto;}
.profile .left figure img {width: 100%;}
.profile .left .address {display: block; width: 20rem; margin: 0 auto;}
.profile .left .address .kakao {cursor: pointer;}
.profile .left .address .kakao span {color: var(--mc);}
.profile .left .address dl>dd {display: inline-block;}
.profile .left .address dl>dd span {display: inline-block; margin-bottom: 0.75rem; width: 5rem; font-family: 'DM Serif Display', serif; font-size: 0.9rem; font-weight: 300;}
.profile .left .address dl>dd em {display: inline-block; margin-bottom: 0.75rem; font-size: 1rem; font-weight: 300;}
.profile .right>div {display: block; padding: 0.75rem 0;}
.profile .right dt {display: block; font-size: 0.9rem; font-weight: 300; margin-bottom: 0.75rem; color: var(--mc);font-family: 'DM Serif Display', serif;}
.profile .right dd {display: block; font-size: 1rem; font-weight: 300; margin-bottom: 0.75rem;}
.profile .right dd::before {content: "#"; margin-right: 1rem;}
/* --} 프로필 끝 */



/* 카카오 팝업 시작 --{ */
.kakao_popup {display: none; width: 22rem; height: 25rem; background: var(--bc); position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 1px 1px 10px var(--gc);z-index: 997;}
.kakao_popup figure {width: 10rem; height: 10rem; position: relative; top: 5rem; left: 50%; transform: translateX(-50%);}
.kakao_popup figure img {width: 100%;}
.kakao_popup i {font-size: 1rem; position: absolute; top: 1.5rem; right: 1.5rem; transition: 0.6s; cursor: pointer;}
.kakao_popup ul {width: 12.5rem; height: 8rem; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}
.kakao_popup li {float: left; width: 5rem; color: var(--tc); position: relative;}
.kakao_popup li:nth-child(1) {color: var(--tc);}
.kakao_popup li:nth-child(3) {position: absolute; top: 1.5rem; color: var(--tc);}
.kakao_popup li:nth-child(2) {color: var(--tc); font-weight: 300; font-size: 0.75rem;}
.kakao_popup li:nth-child(4) {top: 0.5rem; color: var(--tc); font-weight: 300; font-size: 0.75rem;}
.kakao_popup li:nth-child(5) {position: relative; top: 3.5rem; left: -5px; width: 13rem; font-size: 0.7rem; color: var(--tc);}
/* --} 카카오 팝업 끝 */


.fp-bottom {text-align: center;}
.fp-slidesNav ul li a span {background: var(--sc);}
.fp-slidesNav .active span {background: var(--mc);}


.cover {display: none; position: fixed; top: 0; left: 0; background: #fff; width: 100%; height: 100vh;z-index: 997;}
.cover::before {content: ""; display: block; background: url(../img/symbol.png) no-repeat center center/cover; width: 100%; height: 100%; opacity: 0.2;}
.cover ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #444; font-family: 'DM Serif Display', serif; font-size: 1.5rem; font-weight: 300; line-height: 3; text-align: center; padding: 5rem;}
.cover ul>li:hover {color: var(--mc)}

@media (max-width:768px){
/* * {outline: 1px solid #f00;} */


    html {font-size: 20px;}
    body {font-size: 0.8rem; color: var(--tc);}
    
    .wrap {min-width: 100%;}
    
    /* 헤더영역 시작 --{ */
    .header h1 {position: fixed; top: 0.75rem; left: 0.75rem; z-index: 999;}
    .header h1 a {font-family: 'Open Sans Condensed', sans-serif; font-size: 1rem; font-weight: 300; letter-spacing: 0.025em;}
    .header h1 a span {display: block;}
    .header h1 a span:after {content: ""; display: inline-block; width: 3rem; height: 1px; background: var(--mc); vertical-align: middle; animation: line 3s infinite;}
    
    @keyframes line {
        0% {width: 0;}
        100% {width: 3rem;}
    }
    
    .header h1 a em {display: block;}
    
    .header nav {display: none; position: fixed; top: 50%; right: 0.75rem; transform: translateY(-50%); z-index: 999;}
    .header nav li a {display: none; position: relative; width: 1.2rem; height: 1.2rem; text-indent: -9999px;}
    .header nav li a:after {content: ""; display: none; position: absolute; top: 0.45rem; right: 0; width: 0.75rem; height: 0.1rem; background: var(--gc); transition: 0.3s;}
    .header nav li.on a:after {width: 100%; background: var(--tc)}
    
    .header .cover_btn {position: fixed; top: 0.75rem; right: 0.75rem; z-index: 999;}
    .header .cover_btn i {font-size: 1rem; padding: 0.5rem; background: var(--bc); border: 1px solid var(--gc); border-radius: 50%;}
    /* --} 헤더영역 끝*/ 
    
    /* 좌측 슬라이드 디자인 시작 --{ */
    .wheel {display: none; position: absolute; width: 0rem; height: 100vh; background: url(../img/bg03.png); color: var(--tc); z-index: 998;}
    .wheel p {display: none; position: fixed; top: 50%; left: 0.75rem; transform: translateY(-50%); font-size: 0.75rem; font-weight: 300; writing-mode: vertical-rl; text-orientation: mixed; animation: wheel 1s infinite}
    .wheel p>i {display: inline-block; font-size: 1rem; vertical-align: top;}
    
    @keyframes wheel {
        to {top: 55%;}
    }
    /* --} 좌측 슬라이드 디자인 끝 */
    
    /* 공통 배경이미지 시작 --{ */ 
    .section {background: url(../img/bg02.png)}
    /* --} 공통 배경이미지 끝 */ 

    /* 심볼 배경이미지 시작 --{ */
    .symbol {position: fixed; bottom: 3rem; right: -10rem; z-index: -1; overflow: hidden;}
    .symbol figure {width: 40rem; opacity: 0.2;}
    .symbol figure img {width: 100%;}
    /* --} 심볼 배경이미지 끝 */ 

    /* 컨테이너 틀 시작 --{ */ 
    .container {display: block; align-items: center; width: auto; margin: 0 auto; z-index: 997;}
    /* --} 컨테이너 틀 끝 */ 

    /* 슬라이드 하단 네비 시작 --{ */
    .fp-slidesNav.fp-bottom {bottom:0.75rem}
    /* --} 슬라이드 하단 네비 끝 */
    
    /* 커버 시작 --{ */ 
    .intro .slogan {text-align: center; margin: 0 2rem;}
    .intro .slogan h2 {font-size: 1.2rem; font-weight: 700; margin-bottom: 1.5rem; width: 100%}
    .intro .slogan p {display: block; font-size: 0.7rem; font-weight: 300; color: var(--mc); margin-bottom: 1rem;}
    .intro .slogan p:after {content: ""; display: block; width: 15rem; height: 1px; background: var(--mc); margin: 0.2rem auto 0 auto;}
    .intro .slogan em {display: block; font-size: 0.8rem; font-weight: 300; line-height: 1.5;}
    /* --} 커버 끝 */ 
    
    /* 포트폴리오 01 시작 --{ */ 
    .pf01 {text-align: left;}
    .pf01 h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: right;}
    .pf01 .container {display: flex; flex-direction: column; justify-content: center; margin: 0 0.75rem;}
    .pf01 .container .left {flex:none; position: relative; right: 0}
    .pf01 .container .right {flex:none; text-align: left;}
    
    /* pc 목업 시작 --{ */ 
    .pf01 .left .pc_mockup {background: none; padding: 0;}
    .pf01 .left .pc_mockup figure {position: relative; width: 100%; border: 1px solid var(--gc); height: 10rem; padding-bottom: 0; overflow:hidden;}
    .pf01 .left .pc_mockup figure img {position: static; top:100% ; left: 0; width: 100%; transition: none;}
    .pf01 .left .pc_mockup figure:hover img {display: block; transform: translateY(0); top:100%}
    /* --} pc 목업 끝*/ 
    
    /* mobile 목업 시작 --{ */ 
    .pf01 .left .m_mockup {display: none; position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
    .pf01 .left .m_mockup .sub {position: absolute; top: 13px; right: 3rem; width: 40%; z-index: 999;}
    .pf01 .left .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
    .pf01 .left .m_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 10s;}
    .pf01 .left .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
    /* --} mobile 목업 끝*/ 
    
    /* 포트폴리오 설명 시작 --{ */ 
    .pf01 .right .description h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin: 1rem 0; color: var(--mc);}
    .pf01 .right .description p {display: inline-block; font-size: 0.9rem; font-weight: 300; color: var(--tc); margin-left: 1rem; width: 5rem;}
    .pf01 .right .description em {display: block; font-size: 0.7rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
    .pf01 .right .description dl {display: inline-flex; line-height: 1.5rem;}
    .pf01 .right .description dl dt {width: 3rem; font-family: 'DM Serif Display', serif; font-size: 0.7rem;}
    .pf01 .right .description dl dt:before {content: ""; margin-right: 0}
    .pf01 .right .description dl:last-of-type {margin-bottom: 1rem;}
    .pf01 .right .description dd span {display:inline-block; width:0.6rem; height:0.6rem; border-radius:50%; vertical-align:middle;}
    .pf01 .right .description dd strong {margin-right:0.75rem;}
    .pf01 .description dd span:nth-of-type(1) {background: #ED1846; vertical-align: baseline;}
    .pf01 .description dd span:nth-of-type(2) {background: #CCCCCC; vertical-align: baseline;}
    .pf01 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
    /* --} 포트폴리오 설명 끝*/ 
    /* --} 포트폴리오 01 끝*/ 
    
    
    /* 포트폴리오 02 시작 --{ */ 
    .pf02 {text-align: left;}
    .pf02 h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: right;}
    .pf02 .container {display: flex; flex-direction: column; justify-content: center; margin: 0 0.75rem;}
    .pf02 .container .left {flex:none; text-align: left;}
    .pf02 .container .right {flex:none; position: relative; order: -1}
    
    /* 포트폴리오 설명 시작 --{ */ 
    .pf02 .left .description h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin: 1rem 0; color: var(--mc);}
    .pf02 .left .description p {display: inline-block; font-size: 0.9rem; font-weight: 300; color: var(--tc); margin-left: 1rem; width: 5rem;}
    .pf02 .left .description em {display: block; font-size: 0.7rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
    .pf02 .left .description dl {display: inline-flex; line-height: 1.5rem;}
    .pf02 .left .description dl dt {width: 3rem; font-family: 'DM Serif Display', serif; font-size: 0.7rem;}
    .pf02 .left .description dl dt:before {content: ""; margin-right: 0}
    .pf02 .left .description dl:last-of-type {margin-bottom: 1rem;}
    .pf02 .left .description dd span {display:inline-block; width:0.6rem; height:0.6rem; border-radius:50%; vertical-align:middle;}
    .pf02 .left .description dd strong {margin-right:0.75rem;}
    .pf02 .description dd span:nth-of-type(1) {background: #EF151E; vertical-align: baseline;}
    .pf02 .description dd span:nth-of-type(2) {background: #AAA096; vertical-align: baseline;}
    .pf02 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
    /* --} 포트폴리오 설명 끝*/ 
    
    /* pc 목업 시작 --{ */ 
    .pf02 .right .pc_mockup {background: none; padding: 0;}
    .pf02 .right .pc_mockup figure {position: relative; width: 100%; border: 1px solid var(--gc); height: 10rem; padding-bottom: 0; overflow:hidden;}
    .pf02 .right .pc_mockup figure img {position: static; top:100% ; left: 0; width: 100%; transition: none;}
    .pf02 .right .pc_mockup figure:hover img {display: block; transform: translateY(0); top:100%}
    /* --} pc 목업 끝*/ 
    
    /* mobile 목업 시작 --{ */ 
    .pf02 .right .m_mockup {display: none; position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
    .pf02 .right .m_mockup .sub {position: absolute; top: 13px; left: 3rem; width: 40%; z-index: 999;}
    .pf02 .right .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
    .pf02 .right .m_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
    .pf02 .right .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
    /* --} mobile 목업 끝*/ 
    /* --} 포트폴리오 02 끝*/ 
    
    
    /* 포트폴리오 03 시작 --{ */ 
    .pf03 {text-align: left;}
    .pf03 h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: right;}
    .pf03 .container {display: flex; flex-direction: column; justify-content: center; margin: 0 0.75rem;}
    .pf03 .container .left {flex:none; position: relative; right: 0}
    .pf03 .container .right {flex:none; text-align: left;}
    
    /* pc 목업 시작 --{ */ 
    .pf03 .left .pc_mockup {background: none; padding: 0;}
    .pf03 .left .pc_mockup figure {position: relative; width: 100%; border: 1px solid var(--gc); height: 10rem; padding-bottom: 0; overflow:hidden;}
    .pf03 .left .pc_mockup figure img {position: static; top:100% ; left: 0; width: 100%; transition: none;}
    .pf03 .left .pc_mockup figure:hover img {display: block; transform: translateY(0); top:100%}
    /* --} pc 목업 끝*/ 
        
    /* mobile 목업 시작 --{ */ 
    .pf03 .left .m_mockup {display: none; position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
    .pf03 .left .m_mockup .sub {position: absolute; top: 13px; right: 3rem; width: 40%; z-index: 999;}
    .pf03 .left .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
    .pf03 .left .m_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 10s;}
    .pf03 .left .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
    /* --} mobile 목업 끝*/ 
    
    /* 포트폴리오 설명 시작 --{ */ 
    .pf03 .right .description h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin: 1rem 0; color: var(--mc);}
    .pf03 .right .description p {display: inline-block; font-size: 0.9rem; font-weight: 300; color: var(--tc); margin-left: 1rem; width: 5rem;}
    .pf03 .right .description em {display: block; font-size: 0.7rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
    .pf03 .right .description dl {display: inline-flex; line-height: 1.5rem;}
    .pf03 .right .description dl dt {width: 3rem; font-family: 'DM Serif Display', serif; font-size: 0.7rem;}
    .pf03 .right .description dl dt:before {content: ""; margin-right: 0}
    .pf03 .right .description dl:last-of-type {margin-bottom: 1rem;}
    .pf03 .right .description dd span {display:inline-block; width:0.6rem; height:0.6rem; border-radius:50%; vertical-align:middle;}
    .pf03 .right .description dd strong {margin-right:0.75rem;}
    .pf03 .description dd span:nth-of-type(1) {background: #5E5048; vertical-align: baseline;}
    .pf03 .description dd span:nth-of-type(2) {background: #FF3478; vertical-align: baseline;}
    .pf03 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
    /* --} 포트폴리오 설명 끝*/ 
    /* --} 포트폴리오 03 끝*/ 
    
    
    /* 포트폴리오 04 시작 --{ */ 
    .pf04 {text-align: left;}
    .pf04 h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: right;}
    .pf04 .container {display: flex; flex-direction: column; justify-content: center; margin: 0 0.75rem;}
    .pf04 .container .left {flex:none; text-align: left;}
    .pf04 .container .right {flex:none; position: relative; order: -1}
    
    /* 포트폴리오 설명 시작 --{ */ 
    .pf04 .left .description h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin: 1rem 0; color: var(--mc);}
    .pf04 .left .description p {display: inline-block; font-size: 0.9rem; font-weight: 300; color: var(--tc); margin-left: 1rem; width: 5rem;}
    .pf04 .left .description em {display: block; font-size: 0.7rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
    .pf04 .left .description dl {display: inline-flex; line-height: 1.5rem;}
    .pf04 .left .description dl dt {width: 3rem; font-family: 'DM Serif Display', serif; font-size: 0.7rem;}
    .pf04 .left .description dl dt:before {content: ""; margin-right: 0}
    .pf04 .left .description dl:last-of-type {margin-bottom: 1rem;}
    .pf04 .left .description dd span {display:inline-block; width:0.6rem; height:0.6rem; border-radius:50%; vertical-align:middle;}
    .pf04 .left .description dd strong {margin-right:0.75rem;}
    .pf04 .description dd span:nth-of-type(1) {background: #FF3478; vertical-align: baseline;}
    .pf04 .description dd span:nth-of-type(2) {background: #FFFFFF; vertical-align: baseline; border: 1px solid #333;}
    .pf04 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
    /* --} 포트폴리오 설명 끝*/ 
    
    /* pc 목업 시작 --{ */ 
    .pf04 .right .pc_mockup {background: none; padding: 0;}
    .pf04 .right .pc_mockup figure {position: relative; width: 100%; border: 1px solid var(--gc); height: 10rem; padding-bottom: 0; overflow:hidden;}
    .pf04 .right .pc_mockup figure img {position: static; top:100% ; left: 0; width: 100%; transition: none;}
    .pf04 .right .pc_mockup figure:hover img {display: block; transform: translateY(0); top:100%}
    /* --} pc 목업 끝*/ 
    
    /* mobile 목업 시작 --{ */ 
    .pf04 .right .m_mockup {display: none; position: absolute; top: 10rem; right: -1rem; width: 30%; background: url(../img/m_mockup01.png) no-repeat center top/80%; padding: 2% 4.3% 10% 4.3%; overflow: hidden;}
    .pf04 .right .m_mockup .sub {position: absolute; top: 13px; left: 3rem; width: 40%; z-index: 999;}
    .pf04 .right .m_mockup figure {position: relative; padding-bottom: 214%; border-radius: 0.7rem ; overflow: hidden;}
    .pf04 .right .m_mockup figure img {position: absolute; top:0 ; right: 0; width: 100%; transition: 10s;}
    .pf04 .right .m_mockup figure:hover img {transform: translateY(-100%); top:100%}
    /* --} mobile 목업 끝*/ 
    /* --} 포트폴리오 04 끝*/ 
    
    
    /* 포트폴리오 05 시작 --{ */ 
    .pf05 {text-align: left;}
    .pf05 h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: right;}
    .pf05 .container {display: flex; flex-direction: column; justify-content: center; margin: 0 0.75rem;}
    .pf05 .container .left {flex:none; position: relative; right: 0}
    .pf05 .container .right {flex:none; text-align: left;}
    
    /* main_page 목업 시작 --{ */ 
    .pf05 .left .main_mockup {background: none; padding: 0;}
    .pf05 .left .main_mockup figure {position: relative; width: 100%; border: 1px solid var(--gc); height: 10rem; padding-bottom: 0; overflow:hidden;}
    .pf05 .left .main_mockup figure img {position: static; top:100% ; left: 0; width: 100%; transition: none;}
    .pf05 .left .main_mockup figure:hover img {display: block; transform: translateY(0); top:100%}
    /* --} main_page 목업 끝*/ 
    
    /* sub_page 목업 시작 --{ */ 
    .pf05 .left .sub_mockup {display: none;position: relative; top: 11rem; right: -3rem; width: 80%; background: url(../img/notebook_mockup.png) no-repeat center top/80%; padding: 8.5% 16.5% 19% 14.5%; overflow: hidden;}
    .pf05 .left .sub_mockup .sub {position: absolute; top: 13px; right: 3rem; width: 40%; z-index: 999;}
    .pf05 .left .sub_mockup figure {position: relative; padding-bottom: 64%; overflow: hidden;}
    .pf05 .left .sub_mockup figure img {position: absolute; top:0 ; left: 0; width: 100%; transition: 5s;}
    .pf05 .left .sub_mockup figure:hover img {transform: translateY(-100%); top:100%}
    /* --} sub_page 목업 끝*/ 
    
    /* 포트폴리오 설명 시작 --{ */ 
    .pf05 .right .description h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin: 1rem 0; color: var(--mc);}
    .pf05 .right .description p {display: inline-block; font-size: 0.9rem; font-weight: 300; color: var(--tc); margin-left: 1rem; width: 5rem;}
    .pf05 .right .description em {display: block; font-size: 0.7rem; font-weight: 300; line-height: 1.5; margin-bottom: 1rem;}
    .pf05 .right .description dl {display: inline-flex; line-height: 1.5rem;}
    .pf05 .right .description dl dt {width: 3rem; font-family: 'DM Serif Display', serif; font-size: 0.7rem;}
    .pf05 .right .description dl dt:before {content: ""; margin-right: 0}
    .pf05 .right .description dl:last-of-type {margin-bottom: 1rem;}
    .pf05 .right .description dd span {display:inline-block; width:0.6rem; height:0.6rem; border-radius:50%; vertical-align:middle;}
    .pf05 .right .description dd strong {margin-right:0.75rem;}
    .pf05 .description dd span:nth-of-type(1) {background: #89A130; vertical-align: baseline;}
    .pf05 .description dd span:nth-of-type(2) {background: #715F5C; vertical-align: baseline;}
    .pf05 .description dd span:nth-of-type(3) {background: #333333; vertical-align: baseline;}
    /* --} 포트폴리오 설명 끝*/ 
    /* --} 포트폴리오 05 끝*/ 
    
    /* 스타일가이드 팝업 시작 --{ */
    .guide {display: none; position: fixed; top: 0; left: 0; width: auto; height: 100vh; background:rgba(0, 0, 0,0.9); z-index:999}
    .guide.open {display: block;}
    .guide i {font-size: 1rem; color: var(--bc); position: absolute; top: 1.5rem; right: 0.75rem; z-index: 999;}
    .guide>div {position: relative; top: 50%; transform: translateY(-50%); margin: 0 auto; width: auto; height:35rem; background: var(--bc); overflow-y: scroll;}
    .guide>div img {width: 100%;}
    .guide>div::-webkit-scrollbar {width: 0.1rem; background: var(--gc);}
    .guide>div::-webkit-scrollbar-thumb {background: var(--tc); border-radius: 0.25rem;}
    /* --} 스타일가이드 팝업 끝 */
    
    /* 포트폴리오 버튼 시작 --{ */
    .section .description ul {display: flex; gap: 0.5rem; justify-content: center;}
    .section .description ul a {display: block; border: 1px solid var(--gc); color: var(--tc); line-height: 2rem; padding: 0 0.75rem; background: var(--bc); border-radius:10px;}
    /* .section .description ul a {display: block; background: var(--tc); color: var(--lc); line-height: 3rem; padding: 0 2rem;} */
    .section .description ul a:hover {background: var(--mc);}
    /* --} 포트폴리오 버튼 끝 */
    
    /* 수업시간 제작 시작 --{ */
    .class h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: center;}
    .class .container {display: block; position: relative; align-items: center; width: auto; margin: 0 auto; z-index: 997;}
    .class .class_item {width:33%;height:auto; padding: 0 15px}
    .class .class_item .item_box {width:100% ;height:auto;border-radius:10px;overflow:hidden;border:1px solid var(--gc);}
    .class .class_item .item_box figure {height:auto;text-align:center;overflow:hidden;}
    .class .class_item .item_box figure img {width:100%;text-align:center;transition:0.5s;}
    .class .class_item .item_box .item_text {padding:20px;background:#fff; text-align:center}
    
    .class .class_item .item_box .item_text h4 {display: inline-block; font-size: 1.5rem; font-weight: 700; margin: 1rem 0; color: var(--mc);}
    .class .class_item .item_box .item_text p {font-size: 0.9rem; font-weight: 300; color: var(--tc); line-height: 1; padding-bottom: 0.75rem;}
    
    .class .class_item .item_box .item_text span a {display:block; width: 6.5rem; height: 2rem;color:#333;font-size:0.8rem; line-height: 2rem; padding:0 1rem; text-align:center; border-radius:10px; margin:0 auto 1rem auto; border: 1px solid var(--gc);}
    .class .class_item .item_box .item_text span a:hover {background: var(--mc);}
    
    .class ul.slick-dots {text-align:center;padding-top:30px;font-size:0;}
    .class ul.slick-dots li {display:inline-block;width:10px;height:10px;background: var(--sc);border-radius:10px;margin:0 5px;transition:0.5s;cursor:pointer;}
    .class ul.slick-dots li.slick-active {background: var(--mc);width:30px;border:1px solid var(--mc);}
    .class ul.slick-dots button {display:none;}
    /* --} 수업시간 제작 끝 */
    
    /* 프로필 시작 --{ */
    .profile h3 {font-size: 1rem; font-weight: 700; color: var(--tc); margin: 0 0.75rem 1rem 0.75rem; text-align: center;}
    .profile .container {display: flex; flex-direction: column; justify-content: center; width: auto; margin: 0 0.75rem;}
    .profile .container .left {flex:1;}
    .profile .container .right {flex:1; text-align: left;}
    
    .profile .left figure{width: 10rem; background: #000;border-radius: 50%; overflow: hidden; margin: 0 auto 2rem auto;}
    .profile h4 {display: block; font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem; color: var(--mc);}
    .profile h4:after {content: ""; display: block; width: 15rem; height: 1px; background: var(--mc); margin-top: 1rem;}
    .profile .left figure img {width: 100%;}
    .profile .left .address {display: block; width: 15rem; margin: 0 auto;}
    .profile .left .address .kakao {cursor: pointer;}
    .profile .left .address .kakao span {color: var(--mc)}
    .profile .left .address dl>dd {display: inline-block;}
    .profile .left .address dl>dd span {display: inline-block; margin-bottom: 1rem; width: 4.5rem; font-family: 'DM Serif Display', serif;}
    .profile .left .address dl>dd em {display: inline-block; margin-bottom: 1rem;}
    .profile .left .address .phone a {width: 100%;}
    .profile .right {display: none;}
    .profile .right>div {display: block; padding: 0.375rem 0;}
    .profile .right dt {display: block; font-size: 1rem; font-weight: 300; margin: 0.75rem 0 0.375rem 0; color: var(--tc); font-family: 'DM Serif Display', serif;}
    .profile .right dd {display: block; font-size: 0.7rem;font-weight: 400; margin-bottom: 0.375rem;}
    .profile .right dd::before {display: none; content: "#"; margin-right: 0.75rem;}
    /* --} 프로필 끝 */
    


    .kakao_popup {display: none; width: 85%; height: 20rem; background: var(--bc); position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); box-shadow: 1px 1px 10px var(--gc);z-index: 997;}
    .kakao_popup figure {width: 10rem; height: 10rem; position: relative; top: 3.5rem; left: 50%; transform: translateX(-50%);}
    .kakao_popup figure img {width: 100%;}
    .kakao_popup i {position: absolute; top: 1rem; right: 1rem; font-size: 1rem; transition: 0.6s; cursor: pointer;}
    .kakao_popup ul {position: absolute; bottom: 0; left: 5.1rem; width: 7.5rem; height: 8rem; transform: translateX(-50%);}
    .kakao_popup li {position: relative; float: left; width: 10rem; color: var(--tc);}
    .kakao_popup li:nth-child(1) {position: absolute; top: 2rem; left: 2rem; color: var(--tc);}
    .kakao_popup li:nth-child(3) {position: absolute; left: 2rem; top: 4rem; color: var(--tc);}
    .kakao_popup li:nth-child(2) {position: absolute; top: 2rem ; left: 4.5rem; font-size: 0.7rem;}
    .kakao_popup li:nth-child(4) {position: absolute; left: 4.5rem; top: 4rem; font-size: 0.7rem; font-weight: 300; color: var(--tc);}
    .kakao_popup li:nth-child(5) {position: absolute; top: 6.5rem; left: 95%; font-size: 0.7rem; color: var(--tc);transform: translateX(-50%);}


    .cover {display: none; position: fixed; top: 0; left: 0; background: #fff; width: 100%; height: 100vh;z-index: 997;}
    .cover::before {content: ""; display: block; background: url(../img/symbol.png) no-repeat center center/cover; width: 100%; height: 100%; opacity: 0.2;}
    .cover ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #444; font-family: 'DM Serif Display', serif; font-size: 1.5rem; font-weight: 300; line-height: 3; text-align: center; padding: 5rem;}
    .cover ul>li:hover {color: var(--mc)}


    .fp-bottom {text-align: center;}
    .fp-slidesNav ul li a span {background: var(--sc);}
    .fp-slidesNav .active span {background: var(--mc);}
    
    .m_bottom_interface {display: none;}
    .m_btn_menu {display: none;}
}